@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section about-v1-hero wf-section" style="background: #134f1a;">
    <div class="container-medium-710px about-v1-hero text-center">
        <h1 data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="title neutral-100 about-v1-hero">POWERING BUSINESSES</h1>
        <p data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="paragraph neutral-100 about-v1-hero">
            Empowering automotive businesses with innovative solutions for a seamless, efficient, and customer-centered ecosystem.
        </p>
    </div>
    <div class="container-default w-container">
        <div class="about-v1-hero-image">
            <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="home-v2-testimonials-video-wrapper">
                <video controls="controls" width="940" height="528" style="border-radius: 20px;">
                    <source src="~/images/no%20motion.mp4" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
                @*      <img src="../images/image-home-v2-testimonials-video-startup-x-template.jpg" srcset="../images/image-home-v2-testimonials-video-startup-x-template-p-500.jpeg 500w, ../images/image-home-v2-testimonials-video-startup-x-template-p-800.jpeg 800w, ../images/image-home-v2-testimonials-video-startup-x-template-p-1600.jpeg 1600w, ../images/image-home-v2-testimonials-video-startup-x-template.jpg 1862w" sizes="(max-width: 479px) 90vw, (max-width: 991px) 94vw, 929.9999389648438px" alt="Testimonials - Startup X Webflow Template" class="image home-v2-testimonials-video">
                <div class="home-v2-testimonials-video-filter"></div>
                <a href="#" data-w-id="cbbddec9-5434-5559-8e39-de15aeff261c" class="home-v2-testimonials-video-button w-inline-block w-lightbox">
                    <div class="home-v2-testimonials-video-button-icon"></div>
                    <div>Watch Video</div>
                    <script type="application/json" class="w-json">
                        {
                          "items": [
                            {
                              "url": "https://youtube.com/watch?v=Ojiv9Smi4XE",
                              "originalUrl": "https://youtube.com/watch?v=Ojiv9Smi4XE",
                              "width": 940,
                              "height": 528,
                              "thumbnailUrl": "http://i.ytimg.com/vi/Ojiv9Smi4XE/hqdefault.jpg",
                              "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FOjiv9Smi4XE&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DOjiv9Smi4XE&image=http%3A%2F%2Fi.ytimg.com%2Fvi%2FOjiv9Smi4XE%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\"></iframe>",
                              "type": "video"
                            }
                          ],
                          "group": ""
                        }</script>
                </a> *@
            </div>
        </div>
        <div class="about-v1-hero-achievements-wrapper">
            <div class="w-layout-grid about-v1-hero-achievements-grid">
                <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0; color: #b6f174" class="about-v1-hero-achievement-wrapper">
                    <div class="about-v1-hero-achievement-number">7<span class="accent-text-primary-1">+</span></div>
                    <div class="about-v1-hero-achievement-text">Countries</div>
                </div>
                <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0; color: #b6f174" class="about-v1-hero-achievement-wrapper">
                    <div class="about-v1-hero-achievement-number">80<span class="accent-text-primary-1"></span></div>
                    <div class="about-v1-hero-achievement-text">Daily Orders</div>
                </div>
                <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0; color: #b6f174" class="about-v1-hero-achievement-wrapper">
                    <div class="about-v1-hero-achievement-number">4<span class="accent-text-primary-1">B</span></div>
                    <div class="about-v1-hero-achievement-text">Sales transactions</div>
                </div>
                <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0; color: #b6f174" class="about-v1-hero-achievement-wrapper">
                    <div class="about-v1-hero-achievement-number">209.6<span class="accent-text-primary-1">B</span></div>
                    <div class="about-v1-hero-achievement-text">payment processed</div>
                </div>
            </div>
        </div>
        <div class="bg about-v1-hero">
        </div>
    </div>
</div>

<div id="about-v1-story" class="section bg-secondary-1 wf-section">
    <div class="container-default w-container">
        <div class="about-v1-story-wrapper">
            <div class="split-content about-v1-story-left">
                <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="about-v1-story-content">
                    <div class="subtitle-wrapper about-v1-story">
                        @* <div class="subtitle-line about-v1-story"></div> *@
                        <div class="subtitle">Our Story</div>
                    </div>
                    <h2 class="title about-v1-story">The story behind how our company was founded</h2>
                    <p class="paragraph about-v1-story">Karage was founded with a mission to revolutionize the automotive service industry. By providing innovative digital solutions, we aim to bridge the gap between car service centers and their customers, offering a seamless, tech-driven experience that enhances both operational efficiency and customer satisfaction.</p>
                </div>
                <div class="image-wrapper about-v1-story"><img src="../images/about-container2.png" sizes="(max-width: 479px) 90vw, (max-width: 991px) 94vw, (max-width: 1439px) 46vw, 561.9957275390625px" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" srcset="../images/about-container2.png 500w, ../images/about-container2.png 800w, ../images/about-container2.png 1080w, ../images/about-container2.png 1124w" alt="Our Mission - Startup X Webflow Template" class="image about-v1-story"></div>
            </div>
            <div class="split-content about-v1-story-right">
                <div class="image-wrapper about-v1-mission"><img src="../images/about-container.png" sizes="(max-width: 479px) 90vw, (max-width: 991px) 94vw, (max-width: 1439px) 46vw, 561.9957275390625px" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" srcset="../images/about-container.png 500w, ../images/about-container.png 800w, ../images/about-container.png 1080w, ../images/about-container.png 1124w" alt="Our Story - Startup X Webflow Template" class="image about-v1-mission"></div>
                <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="about-v1-mission-content">
                    <div class="subtitle-wrapper about-v1-mission">
                        @* <div class="subtitle-line about-v1-mission"></div> *@
                        <div class="subtitle">Our mission</div>
                    </div>
                    <h2 class="title about-v1-mission">
                        We are on the mission to
                        increase banking
                        accessibility worldwide
                    </h2>
                    <p class="paragraph about-v1-story">To empower car service businesses through cutting-edge technology, helping them thrive in an increasingly digital world. Our focus is on delivering an integrated platform that streamlines processes, improves customer relations, and drives business growth.</p>
                </div>
            </div>
        </div>
    </div>
</div>
@* <div class="section wf-section">
    <div class="container-small-551px about-v1-team">
        <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="subtitle about-v1-team">Our Team</div>
        <h2 data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="title about-v1-team">Meet the amazing team behind Startuper X</h2>
    </div>
    <div class="container-default w-container"></div>
    <div class="container-default w-container">
        <div class="w-dyn-list">
            <div role="list" class="team-v1-grid w-dyn-items">
                <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" role="listitem" class="team-v1-item w-dyn-item">
                    <a href="#" class="card team-v1 w-inline-block">
                        <div class="image-wrapper card-team-v1">
                            <img src="" alt="" class="image card-team-v1">
                            <div class="card-team-v1-position"></div>
                        </div>
                        <div class="card-team-v1-content">
                            <h3 class="title card-team-v1-name"></h3>
                            <p class="paragraph card-team-v1-about-excerpt"></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="empty-state w-dyn-empty">
                <div>No items found.</div>
            </div>
        </div>
        <div data-w-id="dd979146-8542-f790-db5f-b33c7d98aa5b" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="flex-vc">
            <a href="../careers.html" class="button-primary w-button">Join our team</a>
        </div>
    </div>
</div> *@
<div class="section about-v1-values wf-section">
    <div class="container-default w-container">
        <div class="about-v1-values-wrapper">
            <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="content-top about-v1-values">
                <div class="container-small-551px faqs">
                    <div data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="subtitle contact-faqs black-100">KARAGE</div>
                    <h2 data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="title contact-faqs black-100">Core Values</h2>
                </div>
            </div>
            <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="w-layout-grid about-v1-values-grid">
                <div class="card about-v1-value">
                    <img src="~/images/Core_1.svg" alt="Execution - Startup X Webflow Template" class="image card-about-v1-value">
                    <div class="card-about-v1-value-content">
                        <h3 class="title card-about-v1-value">Continuous Innovation</h3>
                        <p class="paragraph card-about-v1-value">
                            We commit to delivering innovative solutions that meet the evolving needs of our partners, continuously improving our technology to enhance the efficiency and performance of automotive service centers.
                        </p>
                    </div>
                </div>
                <div class="card about-v1-value">
                    <img src="~/images/Core_2.svg" alt="Take Ownership - Startup X Webflow Template" class="image card-about-v1-value">
                    <div class="card-about-v1-value-content">
                        <h3 class="title card-about-v1-value">Quality & Excellence</h3>
                        <p class="paragraph card-about-v1-value">We strive to achieve the highest standards of quality in everything we offer, ensuring our services and products exceed the expectations of our partners.</p>
                    </div>
                </div>
                <div class="card about-v1-value">
                    <img src="~/images/Core_3.svg" alt="Startup - Startup X Webflow Template" class="image card-about-v1-value">
                    <div class="card-about-v1-value-content">
                        <h3 class="title card-about-v1-value">Integrity & Transparency</h3>
                        <p class="paragraph card-about-v1-value">We believe in the importance of integrity in all our dealings. We ensure our services are delivered with the utmost transparency and honesty, fostering long-lasting trust with.</p>
                    </div>
                </div>
                <div class="card about-v1-value">
                    <img src="~/images/Core_4.svg" alt="Growth - Startup X Webflow Template" class="image card-about-v1-value">
                    <div class="card-about-v1-value-content">
                        <h3 class="title card-about-v1-value">Partner-Focused</h3>
                        <p class="paragraph card-about-v1-value">Our partners are at the heart of everything we do. We are committed to delivering a unique experience that prioritizes their needs, constantly working to provide solutions that enhance satisfaction and achieve their goals.</p>
                    </div>
                </div>
                <div class="card about-v1-value">
                    <img src="~/images/Core_5.svg" alt="Results Matter - Startup X Webflow Template" class="image card-about-v1-value">
                    <div class="card-about-v1-value-content">
                        <h3 class="title card-about-v1-value">Teamwork</h3>
                        <p class="paragraph card-about-v1-value">We believe that teamwork is the key to success. We foster a collaborative work environment that encourages the sharing of ideas to achieve our common goals.</p>
                    </div>
                </div>
                <div class="card about-v1-value">
                    <img src="~/images/Core_6.svg" alt="Team Work - Startup X Webflow Template" class="image card-about-v1-value">
                    <div class="card-about-v1-value-content">
                        <h3 class="title card-about-v1-value">Continuous Learning & Development</h3>
                        <p class="paragraph card-about-v1-value">We value the importance of continuous learning. We are committed to improving our team's skills to ensure we offer the best services and solutions to our partners.</p>
                    </div>
                </div>
            </div><img src="../images/shape-1-about-v1-values-startup-x-template.svg" data-w-id="5eab3cd1-d504-b7bb-445f-5056043906ee" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);opacity:0" alt="" class="bg about-v1-values-shape-1"><img src="../images/shape-2-about-v1-values-startup-x-template.svg" data-w-id="7914e27c-bc91-662d-b83e-2edb811349da" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);opacity:0" alt="" class="bg about-v1-values-shape-2">
        </div>
    </div>
</div>
<div class="section bg-primary-1 cta-2 wf-section">
    <div class="container-default w-container">
        <div class="cta-2-wrapper">
            <h2 data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" class="title neutral-100 cta-2" style="color:#ECFBCC;">
                Control your business &
                Create a free account today
            </h2>
            <div data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" class="_2-buttons cta-2">
                <a data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" href="" class="button-primary button-green cta-2 w-inline-block">
                    <div class="cta-2-button-primary-text">Try Karage <br>for free</div>
                    <div class="cta-2-button-primary-arrow"><img src="~/images/vectorgreen.svg" /></div>
                </a>
                <a data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" href="" class="button-secondary button-green cta-2 w-inline-block">
                    <div class="cta-2-button-secondary-text">Talk to <br>our sales team</div>
                    <div class="cta-2-button-secondary-icon"><img src="~/images/vector.svg" /></div>
                </a>
            </div>
        </div>
    </div>
</div>