@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section home-v2-hero wf-section">
    <div class="container-medium-710px home-v2-hero">
        <h1 data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="title home-v2-hero">THE ULTIMATE SYSTEM FOR AUTOMOTIVE SERVICE CENTERS</h1>
        <p data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="paragraph home-v2-hero">Karage is an integrated system aimed at enhancing the management of automotive service centers and their customers. It offers innovative tools to boost efficiency and communication.</p>
        <div data-w-id="a295b755-f7b6-c4a2-e919-d1050ead6efc" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="_2-buttons">
            <a href="@Url.Action("TryForFree", "LandingPages")" class="button-lightgreen w-button"> Try it for - Free</a>
            <a href="@Url.Action("Contact", "Home")" class="button-secondary button-white _2-buttons-button w-button">Contact Sales</a>
        </div>
    </div>
</div>

<div class="wf-section">
    <div class="container-default w-container" style="padding-bottom: 100px;">
        <div data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="w-layout-grid perks-grid">
            <div class="card perk">
                <img src="../images/img1.png" data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt="Business - Startup X Webflow Template" class="image perk">
                <div class="card-perk-content">
                    <h3 class="title card-perk">Kashier</h3>
                    <p class="paragraph card-perk">Cloud-based POS system for managing service centers and monitoring inventory.</p>
                </div>
            </div>
            <div class="card perk">
                <img src="../images/img2.png" srcset="../images/img2.png 500w, ../images/img2.png 768w" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 95vw, (max-width: 1439px) 96vw, 1200px" alt="Startups - Startup X Webflow Template" class="image perk">
                <div class="card-perk-content">
                    <h3 class="title card-perk">Pocket</h3>
                    <p class="paragraph card-perk">The fastest cloud-based POS system for creating invoices from any Android device.</p>
                </div>
            </div>
            <div class="card perk">
                <img src="../images/img3.png" data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt="Enterprises - Startup X Webflow Template" class="image perk">
                <div class="card-perk-content">
                    <h3 class="title card-perk">My Karage</h3>
                    <p class="paragraph card-perk">A sustainable experience for storing invoices and guiding customers to service centers.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section bg-companyperk-1 features wf-section">
    <div class="container-medium-616px features">
        <div data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="subtitle contact-faqs black-100">SECTORS</div>
        <h2 data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="title contact-faqs black-100">The All-in-One Solution for Your Automotive Service Needs</h2>
    </div>
    <div class="container-default w-container">
        <div data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="w-layout-grid features-grid">
            <div class="cardw feature">
                <img src="~/images/1.svg" alt="Mobile And Desktop - Startup X Webflow Template" class="image card-feature">
                <div class="card-feature-content">
                    <h2 class="title h3-size card-feature">Oil change & Maintenance</h2>
                    <p class="paragraph card-feature">The upcoming maintenance feature allows you to effectively schedule oil changes, simplifying the management of maintenance appointments for your centers.</p>
                </div>
            </div>
            <div class="cardw feature">
                <img src="~/images/3.svg" alt="Currencies - Startup X Webflow Template" class="image card-feature">
                <div class="card-feature-content">
                    <h2 class="title h3-size card-feature">Painting & Denting</h2>
                    <p class="paragraph card-feature">Workload distribution for technicians helps you organize painting and denting tasks, enhancing the overall efficiency within your service center.</p>
                </div>
            </div>
            <div class="cardw feature">
                <img src="~/images/5.svg" alt="Security Encryption - Startup X Webflow Template" class="image card-feature">
                <div class="card-feature-content">
                    <h2 class="title h3-size card-feature">Mechanic</h2>
                    <p class="paragraph card-feature">Job cards enable you to effectively organize maintenance and repair operations, boosting efficiency in your center.</p>
                </div>
            </div>
            <div class="cardw feature">
                <img src="~/images/2.svg" alt="Support - Startup X Webflow Template" class="image card-feature">
                <div class="card-feature-content">
                    <h2 class="title h3-size card-feature">Protection & Polishing</h2>
                    <p class="paragraph card-feature">The maintenance reminder feature ensures quick interaction with protection and polishing services, improving the overall quality of the services offered.</p>
                </div>
            </div>
            <div class="cardw feature">
                <img src="~/images/4.svg" alt="Earnings - Startup X Webflow Template" class="image card-feature">
                <div class="card-feature-content">
                    <h2 class="title h3-size card-feature">Tyres & Batteries</h2>
                    <p class="paragraph card-feature">Warranty linked to invoices provides easy management of warranties without needing paper cards, simplifying tracking for your partners.</p>
                </div>
            </div>
            <div class="cardw feature">
                <img src="~/images/6.svg" alt="Trading - Startup X Webflow Template" class="image card-feature">
                <div class="card-feature-content">
                    <h2 class="title h3-size card-feature">Programming</h2>
                    <p class="paragraph card-feature">Custom checklists offer precise tools for evaluating electrical systems, ensuring the delivery of high-quality service.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section wf-section">
    <div class="container-default w-container">
        <div class="clients-wrapper">
            <div class="clients-individuals-wrapper">
                <div data-w-id="0fc6d2fb-3373-ba49-deaa-2777017e862b" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content clients-individuals-left">
                    <div class="subtitle-wrapper clients-individuals">
                        <div class="subtitle">FOR BUSINESS OWNERS</div>
                    </div>
                    <h2 class="title clients-individuals">Karage is the ultimate solution for business owners, offering control and insights at your fingertips</h2>
                    <p class="paragraph clients-individuals">Karage is the ultimate solution for business owners, offering complete control over your car service center. You can manage operations effortlessly with real-time insights, track sales, inventory, and employee performance from anywhere. With detailed reports at your disposal, you'll make better decisions to grow your business. Plus, automated reminders, task assignments, and client management tools will help you stay ahead and streamline operations</p>
                </div>
                <div class="split-content clients-individuals-right">
                    <div class="w-layout-grid clients-individuals-features-grid">
                        <div data-w-id="4304d301-6c0c-113c-89ae-e34232b7b76e" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="clients-individuals-feature-wrapper">
                            <img src="../images/icon-check-startup-x-template.svg" alt="Check Icon - Startup X Webflow Template" class="image clients-individuals-feature-icon">
                            <div>Mobile and desktop app</div>
                        </div>
                        <div data-w-id="e23deb7a-b044-ff3c-419e-80138b890369" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="clients-individuals-feature-wrapper">
                            <img src="../images/icon-check-startup-x-template.svg" alt="Check Icon - Startup X Webflow Template" class="image clients-individuals-feature-icon">
                            <div>Mobile and desktop app</div>
                        </div>
                    </div>
                    <div class="image-wrapper clients-individuals">
                        <img src="../images/container.png" sizes="100vw" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" data-w-id="ab4c956b-bebb-26b0-00d3-d57a40d13b63" srcset="../images/container.png 500w, ../images/container.png 800w, ../images/container.png 1078w" alt="Testimonials - Startup X Webflow Template" class="image clients-individuals">
                    </div>
                </div>
            </div>
            <div class="clients-startups-wrapper">
                <div class="split-content clients-startups-left">
                    <div class="image-wrapper clients-startups"><img src="../images/container2.png" sizes="100vw" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" data-w-id="56d89eb4-d2b4-de77-7d2b-81030e6208a3" srcset="../images/container2.png 500w, ../images/container2.png 800w, ../images/container2.png 1076w" alt="Our Team - Startup X Webflow Template" class="image clients-startups"></div>
                    <div data-w-id="b06ef9fb-af76-ccfc-1a83-6f36c2b2cdda" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="clients-startups-achievement">
                        <div class="clients-startups-achievement-number">205M<span class="accent-text-primary-1">+</span></div>
                        <div class="clients-startups-achievement-text">Monthly active users</div>
                    </div>
                </div>
                <div data-w-id="b1aeb79b-04c3-2497-4e3c-e2f68e511e59" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content clients-startups-right">
                    <div class="subtitle-wrapper clients-startups">
                        <div class="subtitle">FOR YOUR CUSTOMERS</div>
                    </div>
                    <h2 class="title clients-startups">Keep the connection with your customers, enhancing their experience every step of the way</h2>
                    <p class="paragraph clients-startups">Karage allows your customers to easily access all their vehicle's information in one place. They can track maintenance history, receive reminders for upcoming services, and view invoices instantly. With Karage, customers stay informed and connected, leading to a smoother service experience. It's all about providing transparency and convenience, ensuring long-term satisfaction.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section request-demo wf-section">
    <div class="container-default w-container">
        <div class="request-demo-wrapper">
            <div data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="card request-demo">
                <h2 class="title card-request-demo">Schedule a demo today</h2>
                <div class="card-request-demo-form-block w-form">
                    <form id="wf-form-Request-Demo-Form" name="wf-form-Request-Demo-Form" data-name="Request Demo Form" method="get" class="card-request-demo-form">
                        <input type="text" class="input name-icon w-input Name" maxlength="256" name="name" data-name="Name" placeholder="Name" id="name" required="">
                        <input type="email" class="input email-icon w-input Email" maxlength="256" name="email" data-name="Email" placeholder="Email" id="email" required="">
                        <input type="tel" class="input phone-icon w-input Phone" maxlength="256" name="Phone" data-name="Phone" placeholder="Phone number" id="phone" required="">
                        <input type="text" class="input company-icon v2 w-input Company" maxlength="256" name="Company" data-name="Company" placeholder="Company" id="company" required="">
                        <input type="text" class="input w-input CompanySize" maxlength="256" name="Company-Size" data-name="Company Size" placeholder="Company Size" id="Company-Size" required="">
                        <input type="text" class="input position-icon w-input Position" maxlength="256" name="Position" data-name="Position" placeholder="Position" id="position" required="">
                        <a onclick="getmail();" class="button-primary request-demo w-button">
                            Schedule a demo
                            @* <input type="submit" value="Schedule a demo" data-wait="Please wait..." id="w-node-f3e360f6-1c85-eb11-dedc-2ae6801a53dd-6a2d3c3b" class="button-primary request-demo w-button"> *@
                        </a>
                    </form>
                    <div class="success-message w-form-done">
                        <div>Thanks. We will get back to you within 24-48 hours.</div>
                    </div>
                    <div class="error-message w-form-fail">
                        <div>Oops! Something went wrong.</div>
                    </div>
                </div>
            </div>
            <div data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content request-demo-content">
                <div class="request-demo-content-top">
                    <h1 class="title h2-size request-demo-content">Get a 1-on-1 demo with our sales team</h1>
                    <p class="paragraph request-demo-content">Experience a personalized demo where our sales team will walk you through the features and benefits of Karage, tailored to your business need.</p>
                </div>
                <div class="request-demo-content-bottom">
                    <div class="card request-demo-content-team">
                        <img src="../images/john-carter-profile-picture-small-startup-x-webflow-template.jpg" alt="John Carter - Startup X Webflow Template" class="image request-demo-content-team">
                        <div class="request-demo-content-team-content">
                            <div class="request-demo-content-team-name">John Carter</div>
                            <div class="request-demo-content-team-position">VP of Customer Success</div>
                        </div>
                    </div>
                    <div class="request-demo-features-wrapper">
                        <h3 class="title request-demo-content-features">What can I expect?</h3>
                        <div class="w-layout-grid request-demo-content-features-grid">
                            <div class="request-demo-content-feature-wrapper">
                                <img src="../images/icon-check-startup-x-template.svg" alt="Check Icon - Startup X Webflow Template" class="request-demo-content-feature-icon">
                                <div>Test the Karage App</div>
                            </div>
                            <div class="request-demo-content-feature-wrapper">
                                <img src="../images/icon-check-startup-x-template.svg" alt="Check Icon - Startup X Webflow Template" class="request-demo-content-feature-icon">
                                <div>Get All Your Questions Answered</div>
                            </div>
                            <div class="request-demo-content-feature-wrapper">
                                <img src="../images/icon-check-startup-x-template.svg" alt="Check Icon - Startup X Webflow Template" class="request-demo-content-feature-icon">
                                <div>Get a Pricing Proposal</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg request-demo">
        <div data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);opacity:0" class="bg request-demo-shape-1"></div><img src="../images/shape-request-demo-startup-x-template.svg" data-w-id="dd4970b7-0b53-b884-9b01-1c0db0e134e5" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);opacity:0" alt="" class="bg request-demo-shape-2">
    </div>
</div>

<div class="section wf-section">
    <div class="container-small-551px faqs">
        <div data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="subtitle contact-faqs">COMPANY PERKS</div>
        <h2 data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="title contact-faqs">The great perk of working at Karage</h2>
    </div>
    <div class="container-default w-container">
        <div data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="faqs-wrapper v2">
            <div class="split-content faqs-left contact">
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">What is the monthly cost of your app?</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere vel venenatis, eu sit massa. Volutpat massa rhoncus odio feugiat tellus elit massa sed ullamcorper a in.</p>
                    </div>
                </div>
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">Do you have any local branches?</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere vel venenatis, eu sit massa. Volutpat massa rhoncus odio feugiat tellus elit massa sed ullamcorper a in.</p>
                    </div>
                </div>
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">What do I need to create an account?</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere vel venenatis, eu sit massa. Volutpat massa rhoncus odio feugiat tellus elit massa sed ullamcorper a in.</p>
                    </div>
                </div>
            </div>
            <div class="split-content faqs-right contact">
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">Is the service available globally?</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere vel venenatis, eu sit massa. Volutpat massa rhoncus odio feugiat tellus elit massa sed ullamcorper a in.</p>
                    </div>
                </div>
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">How do I create an account?</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere vel venenatis, eu sit massa. Volutpat massa rhoncus odio feugiat tellus elit massa sed ullamcorper a in.</p>
                    </div>
                </div>
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">Do you have iOS and Android apps?</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere vel venenatis, eu sit massa. Volutpat massa rhoncus odio feugiat tellus elit massa sed ullamcorper a in.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section bg-primary-1 cta-2 wf-section">
    <div class="container-default w-container">
        <div class="cta-2-wrapper">
            <h2 data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" class="title neutral-100 cta-2" style="color:#ecfbcc;">Take the control of your business. Create a free account today.</h2>
            <div data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" class="_2-buttons cta-2">
                <a data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" href="@Url.Action("TryForFree", "LandingPages")" class="button-primary button-green cta-2 w-inline-block">
                    <div class="cta-2-button-primary-text">Try Karage <br>for free</div>
                    <div class="cta-2-button-primary-arrow"><img src="~/images/vectorgreen.svg" /></div>
                </a>
                <a data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" href="@Url.Action("Contact", "Home")" class="button-secondary button-green cta-2 w-inline-block">
                    <div class="cta-2-button-secondary-text">Talk to <br>our sales team</div>
                    <div class="cta-2-button-secondary-icon"><img src="~/images/vector.svg" /></div>
                </a>
            </div>
        </div>
    </div>
</div>