@{
    ViewData["Title"] = "Pricing";
}

<div class="section pricing wf-section">
    <div class="container-medium-616px pricing">
        <h1 data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="title neutral-100 pricing">PRICING</h1>
        <p data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="paragraph neutral-100 pricing">Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="container-default w-container">
        <div class="pricing-tabs-wrapper">
            <div data-duration-in="300" data-duration-out="100" data-current="Monthly" data-easing="ease" class="pricing-tabs w-tabs">
                <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="pricing-tabs-menu w-tab-menu">
                    <a data-w-tab="Monthly" class="pricing-tab-link w-inline-block w-tab-link w--current">
                        <div>Monthly</div>
                    </a>
                    <a data-w-tab="Annually" class="pricing-tab-link w-inline-block w-tab-link">
                        <div>Annually</div>
                    </a>
                </div>
                <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="pricing-tabs-content w-tab-content">
                    <div data-w-tab="Monthly" class="pricing-tab-pane w-tab-pane w--tab-active">
                        <div class="pricing-wrapper">
                            <div class="card plan">
                                <div class="card-plan-content-top">
                                    <h2 class="title h3-size card-plan" style="color:#B6F174">Basic</h2>
                                    <div class="card-plan-price">$49/mo</div>
                                    <p class="paragraph card-plan">Lorem ipsum dolor sit amet consectetur adipiscing elit tellus et.</p>
                                </div>
                                <div class="divider card-plan"></div>
                                <div class="card-plan-content-bottom">
                                    <div class="card-plan-features-title">What’s included</div>
                                    <div class="w-layout-grid card-plan-features-grid">
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Mi proin sed libero enim</div>
                                        </div>
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Non tellus orci ac auctor augue</div>
                                        </div>
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Nibh ipsum consequat</div>
                                        </div>
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Viverra accumsan in nisl</div>
                                        </div>
                                    </div>
                                    <a href="" class="button-secondary full-width w-button" style="background:#B6F174; border:#B6F174">Start free trial</a>
                                </div>
                            </div>
                            <div class="card plan popular">
                                <div class="card-plan-content-top">
                                    <h2 class="title h3-size card-plan" style="color:#B6F174">Pro</h2>
                                    <div class="card-plan-price">$399/mo</div>
                                    <p class="paragraph card-plan">Lorem ipsum dolor sit amet consectetur adipiscing elit tellus et.</p>
                                </div>
                                <div class="divider card-plan"></div>
                                <div class="card-plan-content-bottom">
                                    <div class="card-plan-features-title">Everything in basic +</div>
                                    <div class="w-layout-grid card-plan-features-grid">
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Mi proin sed libero enim</div>
                                        </div>
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Non tellus orci ac auctor augue</div>
                                        </div>
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Nibh ipsum consequat</div>
                                        </div>
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Viverra accumsan in nisl</div>
                                        </div>
                                    </div>
                                    <a href="" class="button-secondary full-width w-button" style="background:#B6F174; border:#B6F174">Start free trial</a>
                                </div>
                                <div class="popular-badge">Popular</div>
                            </div>
                            <div class="card plan">
                                <div class="card-plan-content-top">
                                    <h2 class="title h3-size card-plan" style="color:#B6F174">Professional</h2>
                                    <div class="card-plan-price">$499/mo</div>
                                    <p class="paragraph card-plan">Lorem ipsum dolor sit amet consectetur adipiscing elit tellus et.</p>
                                </div>
                                <div class="divider card-plan"></div>
                                <div class="card-plan-content-bottom">
                                    <div class="card-plan-features-title">Everything in pro +</div>
                                    <div class="w-layout-grid card-plan-features-grid">
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Mi proin sed libero enim</div>
                                        </div>
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Non tellus orci ac auctor augue</div>
                                        </div>
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Nibh ipsum consequat</div>
                                        </div>
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Viverra accumsan in nisl</div>
                                        </div>
                                    </div>
                                    <a href="" class="button-secondary full-width w-button" style="background:#B6F174; border:#B6F174">Start free trial</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-w-tab="Annually" class="pricing-tab-pane w-tab-pane">
                        <div class="pricing-wrapper">
                            <div class="card plan">
                                <div class="card-plan-content-top">
                                    <h2 class="title h3-size card-plan" style="color:#B6F174">Basic</h2>
                                    <div class="card-plan-price">$499/an</div>
                                    <p class="paragraph card-plan">Lorem ipsum dolor sit amet consectetur adipiscing elit tellus et.</p>
                                </div>
                                <div class="divider card-plan"></div>
                                <div class="card-plan-content-bottom">
                                    <div class="card-plan-features-title">What’s included</div>
                                    <div class="w-layout-grid card-plan-features-grid">
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Mi proin sed libero enim</div>
                                        </div>
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Non tellus orci ac auctor augue</div>
                                        </div>
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Nibh ipsum consequat</div>
                                        </div>
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Viverra accumsan in nisl</div>
                                        </div>
                                    </div>
                                    <a href="" class="button-secondary full-width w-button" style="background:#B6F174; border:#B6F174">Start free trial</a>
                                </div>
                            </div>
                            <div class="card plan popular">
                                <div class="card-plan-content-top">
                                    <h2 class="title h3-size card-plan" style="color:#B6F174">Pro</h2>
                                    <div class="card-plan-price">$3,999/an</div>
                                    <p class="paragraph card-plan">Lorem ipsum dolor sit amet consectetur adipiscing elit tellus et.</p>
                                </div>
                                <div class="divider card-plan"></div>
                                <div class="card-plan-content-bottom">
                                    <div class="card-plan-features-title">Everything in basic +</div>
                                    <div class="w-layout-grid card-plan-features-grid">
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Mi proin sed libero enim</div>
                                        </div>
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Non tellus orci ac auctor augue</div>
                                        </div>
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Nibh ipsum consequat</div>
                                        </div>
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Viverra accumsan in nisl</div>
                                        </div>
                                    </div>
                                    <a href="" class="button-secondary full-width w-button" style="background:#B6F174; border:#B6F174">Start free trial</a>
                                </div>
                                <div class="popular-badge">Popular</div>
                            </div>
                            <div class="card plan">
                                <div class="card-plan-content-top">
                                    <h2 class="title h3-size card-plan" style="color:#B6F174">Professional</h2>
                                    <div class="card-plan-price">$4,999/an</div>
                                    <p class="paragraph card-plan">Lorem ipsum dolor sit amet consectetur adipiscing elit tellus et.</p>
                                </div>
                                <div class="divider card-plan"></div>
                                <div class="card-plan-content-bottom">
                                    <div class="card-plan-features-title">Everything in pro +</div>
                                    <div class="w-layout-grid card-plan-features-grid">
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Mi proin sed libero enim</div>
                                        </div>
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Non tellus orci ac auctor augue</div>
                                        </div>
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Nibh ipsum consequat</div>
                                        </div>
                                        <div class="card-plan-feature-wrapper">
                                            <div class="card-plan-feature-dot"></div>
                                            <div>Viverra accumsan in nisl</div>
                                        </div>
                                    </div>
                                    <a href="" class="button-secondary full-width w-button" style="background:#B6F174; border:#B6F174">Start free trial</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);opacity:0" class="bg pricing-shape-3"></div><img src="images/shape-2-pricing-startup-x-template.svg" data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);opacity:0" alt="" class="bg pricing-shape-4"> *@
        </div>
    </div>
    <div class="bg pricing">
        <img src="images/shape-1-pricing-startup-x-template.svg" data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);opacity:0" alt="" class="bg pricing-shape-1">
        @* <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);opacity:0" class="bg pricing-shape-2"></div> *@
    </div>
</div>
<div class="section bg-secondary-1 contact-form wf-section">
    <div class="container-default w-container">
        <div class="contact-form-wrapper">
            <div class="contact-form-content">
                <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="subtitle-wrapper contact-form">
                    <div class="subtitle-line contact-form"></div>
                    <div class="subtitle">Contact us</div>
                </div>
                <h2 data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="title contact-form">Get a free project consultancy today</h2>
                <p data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="paragraph contact-form">Lorem ipsum dolor sit amet consectetur adipiscing elit eque ipsum odio justo amet urna, auctor. At congue vulputate augue.</p>
                <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="w-layout-grid contact-form-links-grid">
                    <a href="mailto:contact@startuper.com" class="contact-form-link w-inline-block">
                        <img src="~/images/icon-1-contact-links-startup-x-template.svg" alt="Email Icon - Startup X Webflow Template" class="image contact-form-link-icon">
                        <div class="contact-form-link-text">contact@startuper.com</div>
                    </a>
                    <a href="tel:(415)870-3204" class="contact-form-link w-inline-block">
                        <img src="~/images/icon-2-contact-links-startup-x-template.svg" alt="Phone Icon - Startup X Webflow Template" class="image contact-form-link-icon">
                        <div class="contact-form-link-text">(415) 870 - 3204</div>
                    </a>
                </div>
            </div>
            <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="card contact-form">
                <div class="card-contact-form-block w-form">
                    <form id="wf-form-Contact-Form" name="wf-form-Contact-Form" data-name="Contact Form" method="get" class="card-contact-form">
                        <input type="text" class="input name-icon w-input" maxlength="256" name="name" data-name="Name" placeholder="Name" id="name" required="">
                        <input type="email" class="input email-icon w-input" maxlength="256" name="email" data-name="Email" placeholder="Email" id="email" required="">
                        <input type="tel" class="input phone-icon w-input" maxlength="256" name="Phone" data-name="Phone" placeholder="Phone" id="phone" required="">
                        <input type="text" class="input company-icon w-input" maxlength="256" name="Company" data-name="Company" placeholder="Company" id="company" required="">
                        <input type="text" class="input w-node-_269217e3-5f8e-8a21-ae49-ee93e586004b-f72d3bcd w-input" maxlength="256" name="Inquiry" data-name="Inquiry" placeholder="How can we help you?" id="Inquiry" required="">
                        <textarea placeholder="What’s your message?" maxlength="5000" id="message" name="Message" data-name="Message" class="text-area w-node-_248b7818-868a-33a5-f40b-7af8fd54bc8d-f72d3bcd w-input"></textarea>
                        <input type="submit" value="Schedule A Demo" data-wait="Please wait..." id="w-node-_9d484834-0526-f649-cd76-05fa83ddf30b-f72d3bcd" class="button-primary w-button" style="width:100%">
                    </form>
                    <div class="success-message w-form-done">
                        <div>Your message has been submitted. <br>We will get back to you within 24-48 hours.</div>
                    </div>
                    <div class="error-message w-form-fail">
                        <div>Oops! Something went wrong.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*  <div class="bg contact-form">
    <img src="~/images/shape-1-contact-form-startup-x-template.svg" data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);opacity:0" alt="" class="bg contact-form-shape-1">
    <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);opacity:0" class="bg contact-form-shape-2"></div>
    </div> *@
</div>
<div class="section padding-180px wf-section">
    <div class="container-small-551px faqs">
        <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="subtitle contact-faqs">COMPANY PERKS</div>
        <h2 data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="title contact-faqs">The great perks of working <br /> at Startuper X</h2>
    </div>
    <div class="container-default w-container">
        <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="faqs-wrapper v2">
            <div class="split-content faqs-left contact">
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">What is the monthly cost of your app?</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere vel venenatis, eu sit massa. Volutpat massa rhoncus odio feugiat tellus elit massa sed ullamcorper a in.</p>
                    </div>
                </div>
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">Do you have any local branches?</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere vel venenatis, eu sit massa. Volutpat massa rhoncus odio feugiat tellus elit massa sed ullamcorper a in.</p>
                    </div>
                </div>
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">What do I need to create an account?</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere vel venenatis, eu sit massa. Volutpat massa rhoncus odio feugiat tellus elit massa sed ullamcorper a in.</p>
                    </div>
                </div>
            </div>
            <div class="split-content faqs-right contact">
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">Is the service available globally?</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere vel venenatis, eu sit massa. Volutpat massa rhoncus odio feugiat tellus elit massa sed ullamcorper a in.</p>
                    </div>
                </div>
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">How do I create an account?</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere vel venenatis, eu sit massa. Volutpat massa rhoncus odio feugiat tellus elit massa sed ullamcorper a in.</p>
                    </div>
                </div>
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">Do you have iOS and Android apps?</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere vel venenatis, eu sit massa. Volutpat massa rhoncus odio feugiat tellus elit massa sed ullamcorper a in.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section bg-primary-1 cta-2 wf-section">
    <div class="container-default w-container">
        <div class="cta-2-wrapper">
            <h2 data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" class="title neutral-100 cta-2" style="color:#ecfbcc;">Take the control of your finances. Create a free account today.</h2>
            <div data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" class="_2-buttons cta-2">
                <a data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" href="" class="button-primary button-green cta-2 w-inline-block">
                    <div class="cta-2-button-primary-text">Try Karage <br>for free</div>
                    <div class="cta-2-button-primary-arrow"><img src="~/images/vectorgreen.svg" /></div>
                </a>
                <a data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" href="" class="button-secondary button-green cta-2 w-inline-block">
                    <div class="cta-2-button-secondary-text">Talk to <br>our sales team</div>
                    <div class="cta-2-button-secondary-icon"><img src="~/images/vector.svg" /></div>
                </a>
            </div>
        </div>
    </div>
</div>