@{
    ViewData["Title"] = "Market Place";
    Layout = "~/Views/Shared/_ArLayout.cshtml";
}

<div class="section bg-primary-1 blog-v2-hero wf-section" style="background:#b6f174; direction:rtl">
    <div class="container-default w-container">
        <div class="blog-v2-hero-wrapper">
            <div class="blog-v2-hero-content">
                <h1 data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0;color: #003c39 !important;" class="title neutral-100 blog-v2-hero">السوق</h1>
                <p data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0;color: #003c39!important;" class="paragraph neutral-100 blog-v2-hero">Lorem ipsum dolor sit amet consectetur adipisc elit viverra dignissim pellentesque in ac.</p>
                <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="blog-v2-hero-form-block w-form">
                    <form id="wf-form-Blog-V2-Hero-Form" name="wf-form-Blog-V2-Hero-Form" data-name="Blog V2 Hero Form" method="get" class="blog-v2-hero-form">
                        <input type="email" class="input blog-v2-hero w-input" maxlength="256" name="email" data-name="Email" placeholder="أدخل بريدك الإلكتروني" id="email" required="">
                        <input type="submit" value="ابدأ الآن" data-wait="Please wait..." class="button-primary blog-v2-hero w-button">
                    </form>
                    <div class="success-message w-form-done">
                        <div>Thanks for joining our newsletter.</div>
                    </div>
                    <div class="error-message w-form-fail">
                        <div>Oops! Something went wrong.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section padding-180px wf-section" style="direction:rtl"> 
    <div class="container-default w-container">
        <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;" class="content-top blog-v2">
            <h2 class="title blog-v2">التكاملات</h2>
            <div class="w-dyn-list">
                <div role="list" class="categories-wrapper blog-v2 w-dyn-items">
                    <div role="listitem" class="category-item w-dyn-item">
                        <a href="" aria-current="page" class="button-category all w-button w--current active">الكل</a>
                        <a href="" class="button-category icon w-inline-block">
                            <div class="button-category-icon-wrapper">
                                <div>المحاسبة</div>
                            </div>
                        </a>
                    </div>
                    <div role="listitem" class="category-item w-dyn-item">
                        <a href="" aria-current="page" class="button-category all w-condition-invisible w-button w--current">الكل</a>
                        <a href="/blog-category/finances" class="button-category icon w-inline-block">
                            <div class="button-category-icon-wrapper">
                                <div>ERP</div>
                            </div>
                        </a>
                    </div>
                    <div role="listitem" class="category-item w-dyn-item">
                        <a href="" aria-current="page" class="button-category all w-condition-invisible w-button w--current">الكل</a>
                        <a href="/blog-category/management" class="button-category icon w-inline-block">
                            <div class="button-category-icon-wrapper">
                                <div>المدفوعات</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section bg-primary-1 cta-2 wf-section " style="direction:rtl;">
    <div class="container-default w-container">
        <div class="cta-2-wrapper">
            <h2 data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" class="title neutral-100 cta-2" style="color:#ebfbcb !important;">تول السيطرة على أموالك. أنشئ حسابًا مجانيًا اليوم.</h2>
            <div data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" class="_2-buttons cta-2">
                <a data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" href="" class="button-primary button-green cta-2 w-inline-block">
                    <div class="cta-2-button-primary-text">جرب Karage <br>مجانًا</div>
                    <div class="cta-2-button-primary-arrow"><img src="~/images/vectorgreen.svg" /></div>
                </a>
                <a data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" href="" class="button-secondary button-green cta-2 w-inline-block">
                    <div class="cta-2-button-secondary-text">تحدث إلى <br>فريق المبيعات</div>
                    <div class="cta-2-button-secondary-icon"><img src="~/images/vector.svg" /></div>
                </a>
            </div>
        </div>
    </div>
</div>