@{
    ViewData["Title"] = "Business Type";
    Layout = "~/Views/Shared/_ArLayout.cshtml";
}
<div class="section services wf-section">
    <div class="container-medium-616px services">
        <h1 data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0; font-size:72px;" class="title services">أنواع الأعمال</h1>
        <p data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0; color:black;" class="paragraph services">
            مهما كان نوع خدمتك، كراج يساعدك على إدارة عملك بسلاسة وتحقيق نمو أسرع
        </p>
    </div>
    <div class="container-default w-container" style="direction:rtl;">
        <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="w-layout-grid services-grid">
            <div class="card service">
                <div class="image-wrapper card-service">
                    <img src="~/images/carwash.png" alt="Investment Management - Startup X Webflow Template" class="image card-service">
                </div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">
                        غسيل السيارات
                    </h2>
                    <p class="paragraph card-service">قم بإدارة خدمة غسيل السيارات بكفاءة مع كراج، تتبع كل عملية غسيل لزيادة رضا العملاء</p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service">
                    <img src="~/images/oilchange.png" alt="Services - Startup X Webflow Template" class="image card-service">
                </div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">
                        تغيير الزيت
                    </h2>
                    <p class="paragraph card-service">
                        راقب تغييرات الزيت وجداول الصيانات الدورية بسهولة، لتكون دائمًا على اطلاع مسبق على احتياجات الخدمة
                    </p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service">
                    <img src="~/images/polishing.png" alt="Investment Strategy - Startup X Webflow Template" class="image card-service">
                </div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">التلميع</h2>
                    <p class="paragraph card-service">
                        نظم خدمات التلميع لديك، وتأكد من إتمام كل وظيفة على أكمل وجه لزيادة ولاء العملاء
                    </p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service">
                    <img src="~/images/tyres.png" alt="Cash Management - Startup X Webflow Template" class="image card-service">
                </div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">الإطارات</h2>
                    <p class="paragraph card-service">
                        تتبع مبيعات وتركيب الإطارات وإدارة المخزون، لضمان عمليات سلسة ورضا العملاء
                    </p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service">
                    <img src="~/images/painting.png" alt="Wealth Transfer - Startup X Webflow Template" class="image card-service">
                </div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">الدهان</h2>
                    <p class="paragraph card-service">
                        إدارة أعمال الدهان وتوزيع العمل على الفنيين لتحقيق تسليم أسرع ودقة أعلى
                    </p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service">
                    <img src="~/images/mechanic.png" alt="Tax Planning - Startup X Webflow Template" class="image card-service">
                </div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">الميكانيكا</h2>
                    <p class="paragraph card-service">
                        تبسيط خدمات الميكانيكا من خلال تعيين المهام وتتبع تقدم العمل، لجعل الإصلاحات أسرع وأكثر فعالية
                    </p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service">
                    <img src="~/images/protection.png" alt="Tax Planning - Startup X Webflow Template" class="image card-service">
                </div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">الحماية</h2>
                    <p class="paragraph card-service">
                        تقديم خدمات الحماية مع تذكير العملاء بالمعالجات القادمة ونصائح العناية
                    </p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service">
                    <img src="~/images/airconditioner.png" alt="Tax Planning - Startup X Webflow Template" class="image card-service">
                </div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">
                        التكييف
                    </h2>
                    <p class="paragraph card-service">
                        إشراف على إصلاحات وصيانة التكييف، لضمان تنفيذ كل خدمة بفعالية وفي الوقت المناسب
                    </p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service">
                    <img src="~/images/batteries.png" alt="Tax Planning - Startup X Webflow Template" class="image card-service">
                </div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">البطارية</h2>
                    <p class="paragraph card-service">
                        تتبع خدمات البطارية والضمانات مع كراج، لتبسيط العمليات وكسب ثقة العملاء
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="section bg-primary-1 cta-2 wf-section " style="direction:rtl;">
    <div class="container-default w-container">
        <div class="cta-2-wrapper">
            <h2 data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" class="title neutral-100 cta-2" style="color:#ebfbcb !important;">تحكّم في أعمالك وأنشئ حسابك مجاناً اليوم.</h2>
            <div data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" class="_2-buttons cta-2">
                <a data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" href="@Url.Action("ArTryForFree", "LandingPages" , new { lang = Context.Request.RouteValues["lang"] })" class="button-primary button-green cta-2 w-inline-block">
                    <div class="cta-2-button-primary-text">جرب Karage <br>مجانًا</div>
                    <div class="cta-2-button-primary-arrow"><img src="~/images/vectorgreen.svg" /></div>
                </a>
                <a data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" href="@Url.Action("ArContact", "Home" , new { lang = Context.Request.RouteValues["lang"] })"  class="button-secondary button-green cta-2 w-inline-block">
                    <div class="cta-2-button-secondary-text">تحدث إلى <br>فريق المبيعات</div>
                    <div class="cta-2-button-secondary-icon"><img src="~/images/vector.svg" /></div>
                </a>
            </div>
        </div>
    </div>
</div>