@{
    ViewData["Title"] = "Business Type";
    Layout = "~/Views/Shared/_ArLayout.cshtml";
}
<div class="section services wf-section">
    <div class="container-medium-616px services">
        <h1 data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0; font-size:72px;" class="title services">أنواع الأعمال</h1>
        <p data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0; color:black;" class="paragraph services">Lorem ipsum dolor sit amet consectetur adipisc elit viverra dignissim pellentesque in acolmine.</p>
    </div>
    <div class="container-default w-container" style="direction:rtl;">
        <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="w-layout-grid services-grid">
            <div class="card service">
                <div class="image-wrapper card-service"><img src="~/images/image-1-services-startup-x-template.svg" alt="Investment Management - Startup X Webflow Template" class="image card-service"></div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">Investment management</h2>
                    <p class="paragraph card-service">Lorem ipsum dolor sit amet, dol si consectetur adipiscing elit. Sit odio olo erat donec sed non. Lectus eu vel.</p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service"><img src="~/images/image-2-services-startup-x-template.svg" alt="Services - Startup X Webflow Template" class="image card-service"></div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">Portfolio diversification</h2>
                    <p class="paragraph card-service">Lorem ipsum dolor sit amet, dol si consectetur adipiscing elit. Sit odio olo erat donec sed non. Lectus eu vel.</p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service"><img src="~/images/image-3-services-startup-x-template.svg" alt="Investment Strategy - Startup X Webflow Template" class="image card-service"></div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">Investment strategy</h2>
                    <p class="paragraph card-service">Lorem ipsum dolor sit amet, dol si consectetur adipiscing elit. Sit odio olo erat donec sed non. Lectus eu vel.</p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service"><img src="~/images/image-4-services-startup-x-template.svg" alt="Cash Management - Startup X Webflow Template" class="image card-service"></div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">Cash management</h2>
                    <p class="paragraph card-service">Lorem ipsum dolor sit amet, dol si consectetur adipiscing elit. Sit odio olo erat donec sed non. Lectus eu vel.</p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service"><img src="~/images/image-5-services-startup-x-template.svg" alt="Wealth Transfer - Startup X Webflow Template" class="image card-service"></div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">Wealth transfer</h2>
                    <p class="paragraph card-service">Lorem ipsum dolor sit amet, dol si consectetur adipiscing elit. Sit odio olo erat donec sed non. Lectus eu vel.</p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service"><img src="~/images/image-6-services-startup-x-template.svg" alt="Tax Planning - Startup X Webflow Template" class="image card-service"></div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">Tax planning</h2>
                    <p class="paragraph card-service">Lorem ipsum dolor sit amet, dol si consectetur adipiscing elit. Sit odio olo erat donec sed non. Lectus eu vel.</p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service"><img src="~/images/image-6-services-startup-x-template.svg" alt="Tax Planning - Startup X Webflow Template" class="image card-service"></div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">Tax planning</h2>
                    <p class="paragraph card-service">Lorem ipsum dolor sit amet, dol si consectetur adipiscing elit. Sit odio olo erat donec sed non. Lectus eu vel.</p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service"><img src="~/images/image-6-services-startup-x-template.svg" alt="Tax Planning - Startup X Webflow Template" class="image card-service"></div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">Tax planning</h2>
                    <p class="paragraph card-service">Lorem ipsum dolor sit amet, dol si consectetur adipiscing elit. Sit odio olo erat donec sed non. Lectus eu vel.</p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service"><img src="~/images/image-6-services-startup-x-template.svg" alt="Tax Planning - Startup X Webflow Template" class="image card-service"></div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">Tax planning</h2>
                    <p class="paragraph card-service">Lorem ipsum dolor sit amet, dol si consectetur adipiscing elit. Sit odio olo erat donec sed non. Lectus eu vel.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section bg-primary-1 cta-2 wf-section " style="direction:rtl;">
    <div class="container-default w-container">
        <div class="cta-2-wrapper">
            <h2 data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" class="title neutral-100 cta-2" style="color:#ebfbcb !important;">تول السيطرة على أموالك. أنشئ حسابًا مجانيًا اليوم.</h2>
            <div data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" class="_2-buttons cta-2">
                <a data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" href="" class="button-primary button-green cta-2 w-inline-block">
                    <div class="cta-2-button-primary-text">جرب Karage <br>مجانًا</div>
                    <div class="cta-2-button-primary-arrow"><img src="~/images/vectorgreen.svg" /></div>
                </a>
                <a data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" href="" class="button-secondary button-green cta-2 w-inline-block">
                    <div class="cta-2-button-secondary-text">تحدث إلى <br>فريق المبيعات</div>
                    <div class="cta-2-button-secondary-icon"><img src="~/images/vector.svg" /></div>
                </a>
            </div>
        </div>
    </div>
</div>