@{
    ViewData["Title"] = "Business Type";
}
<div class="section services wf-section">
    <div class="container-medium-616px services">
        <h1 data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0; font-size:72px;" class="title services">BUSINESS TYPES</h1>
        <p data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0; color:black;" class="paragraph services">No matter your automotive service, Karage empowers your business to run smoother and grow faster</p>
    </div>
    <div class="container-default w-container">
        <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="w-layout-grid services-grid">
            <div class="card service">
                <div class="image-wrapper card-service">
                    <img src="~/images/carwash.png" alt="Investment Management - Startup X Webflow Template" class="image card-service">
                </div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">Car Wash</h2>
                    <p class="paragraph card-service">Manage your car wash service more efficiently with Karage, track each wash and improve customer satisfaction.</p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service">
                    <img src="~/images/oilchange.png" alt="Services - Startup X Webflow Template" class="image card-service">
                </div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">Oil Change</h2>
                    <p class="paragraph card-service">Easily track oil changes and maintenance schedules, staying informed about upcoming service needs.</p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service">
                    <img src="~/images/polishing.png" alt="Investment Strategy - Startup X Webflow Template" class="image card-service">
                </div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">Polishing</h2>
                    <p class="paragraph card-service">Organize your polishing services, ensuring each job is completed to perfection and boosting customer retention.</p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service">
                    <img src="~/images/tyres.png" alt="Cash Management - Startup X Webflow Template" class="image card-service">
                </div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">Tyres</h2>
                    <p class="paragraph card-service">Keep track of tyre sales, inventory, and installations, ensuring smooth operations and satisfied clients.</p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service">
                    <img src="~/images/painting.png" alt="Wealth Transfer - Startup X Webflow Template" class="image card-service">
                </div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">Painting</h2>
                    <p class="paragraph card-service">Manage paint jobs and workflow distribution for faster, more accurate delivery to your customers.</p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service">
                    <img src="~/images/mechanic.png" alt="Tax Planning - Startup X Webflow Template" class="image card-service">
                </div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">Mechanic</h2>
                    <p class="paragraph card-service">Streamline mechanical services with job assignment and progress tracking, making repairs faster and more efficient.</p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service">
                    <img src="~/images/protection.png" alt="Tax Planning - Startup X Webflow Template" class="image card-service">
                </div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">Protection</h2>
                    <p class="paragraph card-service">Offer top-notch protection services with reminders for customers about upcoming treatments and care tips.</p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service">
                    <img src="~/images/airconditioner.png" alt="Tax Planning - Startup X Webflow Template" class="image card-service">
                </div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">Air Conditioner</h2>
                    <p class="paragraph card-service">Oversee air conditioning repairs and maintenance, ensuring each service is carried out effectively and timely.</p>
                </div>
            </div>
            <div class="card service">
                <div class="image-wrapper card-service">
                    <img src="~/images/batteries.png" alt="Tax Planning - Startup X Webflow Template" class="image card-service">
                </div>
                <div class="card-service-content">
                    <h2 class="title h3-size card-service">Batteries</h2>
                    <p class="paragraph card-service">Track battery services and warranties with Karage, simplifying your operations and guaranteeing customer trust.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section bg-primary-1 cta-2 wf-section">
    <div class="container-default w-container">
        <div class="cta-2-wrapper">
            <h2 data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" class="title neutral-100 cta-2" style="color:#ebfbcb !important;">Take the control of your finances. Create a free account today.</h2>
            <div data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" class="_2-buttons cta-2">
                <a data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" href="@Url.Action("TryForFree", "LandingPages")" class="button-primary button-green cta-2 w-inline-block">
                    <div class="cta-2-button-primary-text">Try Karage <br>for free</div>
                    <div class="cta-2-button-primary-arrow"><img src="~/images/vectorgreen.svg" /></div>
                </a>
                <a data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" href="@Url.Action("Contact", "Home")" class="button-secondary button-green cta-2 w-inline-block">
                    <div class="cta-2-button-secondary-text">Talk to <br>our sales team</div>
                    <div class="cta-2-button-secondary-icon"><img src="~/images/vector.svg" /></div>
                </a>
            </div>
        </div>
    </div>
</div>