{{ define "main" }}
<article>
  <header>
    <h1>{{ .Title }}</h1>
    {{ with .Description }}
    <p class="description">{{ . }}</p>
    {{ end }}
  </header>
  
  {{ if .Pages }}
  <section class="taxonomy-list">
    <ul>
      {{ range .Pages }}
      <li>
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        {{ with .Description }}
        <p>{{ . }}</p>
        {{ end }}
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
      </li>
      {{ end }}
    </ul>
  </section>
  {{ end }}
</article>
{{ end }}
