<footer class="footer" style="direction:rtl">
    <div class="container-default w-container">
        <div data-w-id="be78ef8e-1474-3219-9769-118139e7f737" class="footer-content">

            <!-- Logo & Social Links -->
            <div class="footer-menu-wrapper">
                <div class="footer-title">
                    <a href="{{ "/" | relLangURL }}" class="footer-logo-container w-inline-block">
                        <img src="{{ "images/arabic-logo.svg" | relURL }}" alt="Karage Logo" class="footer-logo" style="max-width:50%">
                    </a>
                </div>
                <div class="footer-menu-content">
                    <ul role="list" class="footer-nav w-list-unstyled">
                        <li class="footer-nav-item" style="letter-spacing: 10px;">
                            <a href="https://www.facebook.com/share/168eYbn3ow/?mibextid=LQQJ4d" class="footert-nav-link" target="_blank">
                                <img src="{{ "images/fbicon.svg" | relURL }}" alt="Facebook"/>
                            </a>
                            <a href="https://x.com/Karagehq" class="footert-nav-link" target="_blank">
                                <img src="{{ "images/Link.svg" | relURL }}" alt="X"/>
                            </a>
                            <a href="https://www.instagram.com/karagehq/" class="footert-nav-link" target="_blank">
                                <img src="{{ "images/Link-2.svg" | relURL }}" alt="Instagram"/>
                            </a>
                            <a href="https://www.linkedin.com/company/karagehq/" class="footert-nav-link" target="_blank">
                                <img src="{{ "images/Link-3.svg" | relURL }}" alt="LinkedIn"/>
                            </a>
                            <a onclick="YoutubeClick()" class="footert-nav-link" target="_blank">
                                <img src="{{ "images/Link-4.svg" | relURL }}" alt="YouTube"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Products -->
            <div class="footer-menu-wrapper">
                <div class="footer-title">المنتجات</div>
                <div class="footer-menu-content">
                    <ul role="list" class="footer-nav w-list-unstyled">
                        <li class="footer-nav-item">
                            <a href="{{ "/kashier/" | relLangURL }}" class="footert-nav-link">كاشير</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="{{ "/pocket/" | relLangURL }}" class="footert-nav-link">بوكيت</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="{{ "/mykarage/" | relLangURL }}" class="footert-nav-link">ماي كراج</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Karage -->
            <div class="footer-menu-wrapper">
                <div class="footer-title">كراج</div>
                <div class="footer-menu-content">
                    <ul role="list" class="footer-nav w-list-unstyled">
                        <li class="footer-nav-item">
                            <a href="{{ "/about/" | relLangURL }}" class="footert-nav-link">حول</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="{{ "/contact/" | relLangURL }}" class="footert-nav-link">اتصل بنا</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="{{ "/pricing/" | relLangURL }}" class="footert-nav-link">التسعير</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Legal -->
            <div class="footer-menu-wrapper last">
                <div class="footer-title">السياسات</div>
                <div class="footer-menu-content">
                    <ul role="list" class="footer-nav w-list-unstyled">
                        <li class="footer-nav-item">
                            <a href="{{ "/ar/termsandconditions/" | relLangURL }}" class="footert-nav-link">الشروط والأحكام</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="{{ "/ar/termsandconditions/" | relLangURL }}" class="footert-nav-link">سياسة الخصوصية</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Industries -->
            <div class="footer-menu-wrapper last">
                <div class="footer-title">القطاعات</div>
                <div class="footer-menu-content">
                    <ul role="list" class="footer-nav w-list-unstyled">
                        <li class="footer-nav-item"><div class="footert-nav-link" style="cursor:pointer">تغيير الزيت والصيانة</div></li>
                        <li class="footer-nav-item"><div class="footert-nav-link" style="cursor:pointer">الحماية والتلميع</div></li>
                        <li class="footer-nav-item"><div class="footert-nav-link" style="cursor:pointer">السمكرة والدهان</div></li>
                        <li class="footer-nav-item"><div class="footert-nav-link" style="cursor:pointer">الإطارات والبطاريات</div></li>
                        <li class="footer-nav-item"><div class="footert-nav-link" style="cursor:pointer">الميكانيكا</div></li>
                        <li class="footer-nav-item"><div class="footert-nav-link" style="cursor:pointer">البرمجة</div></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="divider footer-content-bottom-divider"></div>
        <div data-w-id="c87e86cc-55f9-10a0-58c6-8bebd2db9d27" class="footer-content-bottom">
            <div class="footer-small-print">
                Karage © 2025. All Rights Reserved
            </div>
        </div>
    </div>
</footer>
