       <footer class="footer">
            <div class="container-default w-container">
                <div data-w-id="be78ef8e-1474-3219-9769-118139e7f737" class="footer-content">
                    <div class="footer-menu-wrapper">
                        <div class="footer-title">
                            <a href="{{ " /" | relLangURL }}" class="footer-logo-container w-inline-block"><img
                                    src="{{ "images/Karage Logo.svg" | relURL }}" alt="Karage Logo" class="footer-logo"></a>
                        </div>
                        <div class="footer-menu-content">
                            <ul role="list" class="footer-nav w-list-unstyled">
                                <li class="footer-nav-item" style="letter-spacing: 10px;">
                                    <a href="https://www.facebook.com/share/168eYbn3ow/?mibextid=LQQJ4d"
                                        class="footert-nav-link" target="_blank"><img src="{{ "images/fbicon.svg" | relURL }}" /></a>
                                    <a href="https://x.com/Karagehq" class="footert-nav-link" target="_blank"><img
                                            src="{{ "images/Link.svg" | relURL }}" /></a>
                                    <a href="https://www.instagram.com/karagehq/" class="footert-nav-link"
                                        target="_blank"><img src="{{ "images/Link-2.svg" | relURL }}" /></a>
                                    <a href="https://www.linkedin.com/company/karagehq/" class="footert-nav-link"
                                        target="_blank"><img src="{{ "images/Link-3.svg" | relURL }}" /></a>
                                    <a onclick="YoutubeClick()" class="footert-nav-link" target="_blank"><img
                                            src="{{ "images/Link-4.svg" | relURL }}" /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-menu-wrapper">
                        <div class="footer-title">Products</div>
                        <div class="footer-menu-content">
                            <ul role="list" class="footer-nav w-list-unstyled">
                                <li class="footer-nav-item">
                                    <a href="{{ "/kashier/" | relLangURL }}" class="footert-nav-link">Kashier</a>
                                </li>
                                <li class="footer-nav-item">
                                    <a href="{{ "/pocket/" | relLangURL }}" class="footert-nav-link">Pocket</a>
                                </li>
                                <li class="footer-nav-item">
                                    <a href="{{ "/mykarage/" | relLangURL }}" class="footert-nav-link">My Karage</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-menu-wrapper">
                        <div class="footer-title">Karage</div>
                        <div class="footer-menu-content">
                            <ul role="list" class="footer-nav w-list-unstyled">
                                <li class="footer-nav-item">
                                    <a href="{{ "/about/" | relLangURL }}" class="footert-nav-link">About</a>
                                </li>
                                <li class="footer-nav-item">
                                    <a href="{{ "/contact/" | relLangURL }}" class="footert-nav-link">Contact Us</a>
                                </li>
                                <li class="footer-nav-item">
                                    <a href="{{ "/pricing/" | relLangURL }}" class="footert-nav-link">Pricing</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-menu-wrapper last">
                        <div class="footer-title">Legal</div>
                        <div class="footer-menu-content">
                            <ul role="list" class="footer-nav w-list-unstyled">
                                <li class="footer-nav-item">
                                    <a href="{{ "/termsAndconditions/" | relLangURL }}" class="footert-nav-link">Terms &
                                        Conditions</a>
                                </li>
                                <li class="footer-nav-item">
                                    <a href="{{ "/termsAndconditions/" | relLangURL }}" class="footert-nav-link">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-menu-wrapper last">
                        <div class="footer-title">Industries</div>
                        <div class="footer-menu-content">
                            <ul role="list" class="footer-nav w-list-unstyled">
                                <li class="footer-nav-item">
                                    <div href="" class="footert-nav-link" style="cursor:pointer">Oil Change &
                                        Maintenance</div>
                                </li>
                                <li class="footer-nav-item">
                                    <div href="" class="footert-nav-link" style="cursor:pointer">Protection & Polishing
                                    </div>
                                </li>
                                <li class="footer-nav-item">
                                    <div href="" class="footert-nav-link" style="cursor:pointer">Painting & Denting
                                    </div>
                                </li>
                                <li class="footer-nav-item">
                                    <div href="" class="footert-nav-link" style="cursor:pointer">Tyres & Battries</div>
                                </li>
                                <li class="footer-nav-item">
                                    <div href="" class="footert-nav-link" style="cursor:pointer">Mechanic</div>
                                </li>
                                <li class="footer-nav-item">
                                    <div href="" class="footert-nav-link" style="cursor:pointer">Programming</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="divider footer-content-bottom-divider"></div>
                <div data-w-id="c87e86cc-55f9-10a0-58c6-8bebd2db9d27" class="footer-content-bottom">
                    <div class="footer-small-print">
                        Karage © 2025. All Rights Reserved.
                    </div>
                </div>
            </div>
        </footer>