<div data-collapse="medium" data-animation="over-left" data-duration="400"
     data-w-id="58db7844-5919-d71b-dd74-2323ed8dffe9"
     data-easing="ease" data-easing2="ease"
     role="banner" class="header w-nav" style="direction: rtl; text-align: right;">
  <div class="container-default w-container">
    <div class="header-wrapper">
      
      <!-- Logo -->
      <div class="split-content header-left">
        <a href="{{ "/home/" | relLangURL }}" class="brand w-nav-brand">
          <img src="{{ "images/arabic-logo.svg" | relURL }}" alt="Karage Logo" class="header-logo" />
        </a>
      </div>

      <!-- Navigation -->
      <nav role="navigation" class="nav-menu w-nav-menu">
        <ul role="list" class="header-navigation">

          <!-- Products Dropdown -->
          <li class="nav-item-wrapper">
            <div data-hover="true" data-delay="0" class="nav-link-dropdown w-dropdown">
              <div class="nav-link dropdown w-dropdown-toggle">
                <div>
                  <span class="dropdown-arrow">
                    <img src="{{ "images/arrow-drop-down-big.svg" | relURL }}" width="20px" />
                  </span>
                  المنتجات
                </div>
              </div>
              <nav class="dropdown-list w-dropdown-list">
                <div class="dropdown-nav-main-wrapper">
                  <div class="dropdown-nav-pages-wrapper">
                    <div class="dropdown-nav-content">
                      <ul role="list" class="dropdown-nav">
                        <li class="dropdown-nav-item">
                          <a href="{{ "/kashier/" | relLangURL }}" class="dropdown-nav-link">كاشير</a>
                        </li>
                        <li class="dropdown-nav-item">
                          <a href="{{ "/pocket/" | relLangURL }}" class="dropdown-nav-link">بوكيت</a>
                        </li>
                        <li class="dropdown-nav-item">
                          <a href="{{ "/mykarage/" | relLangURL }}" class="dropdown-nav-link">مستودعي في كراج </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </li>

          <!-- Other Links -->
          <li class="nav-item-wrapper">
            <a href="{{ "/businesstype/" | relLangURL }}" class="nav-link">أنواع الأعمال</a>
          </li>
          <li class="nav-item-wrapper">
            <a href="{{ "/marketplace/" | relLangURL }}" class="nav-link">متجر التطبيقات</a>
          </li>
          <li class="nav-item-wrapper">
            <a href="{{ "/pricing/" | relLangURL }}" class="nav-link">الأسعار</a>
          </li>

          <!-- Try for Free Button -->
          <li class="nav-item-wrapper header-button-mobile">
            <a href="{{ "/tryforfree/" | relLangURL }}" class="button-primary header-button mobile w-button"
               style="background:#b6f174; color:#134f1a">
              جربه - مجانًا
            </a>
          </li>

          <!-- English Switch -->
          <li class="nav-item-wrapper header-button-mobile">
            <a href="{{ "/" | relLangURL | replaceRE "/$" "/en/" }}" class="header-button w-inline-block"
               style="padding-right:20px; text-decoration:none;">
              English
              <img src="{{ "images/flag-for-flag-united-kingdom-svgrepo-com.svg" | relURL }}"
                   style="width:40px; padding-right:10px;" />
            </a>
          </li>
        </ul>
      </nav>

      <!-- Right Section -->
      <div class="split-content header-right">
        <div data-node-type="commerce-cart-wrapper"
             data-open-product=""
             data-wf-cart-type="leftSidebar"
             class="w-commerce-commercecartwrapper">
          <a href="https://admin.garage.sa/"
             data-node-type="commerce-cart-open-link"
             class="w-commerce-commercecartopenlink cart-button w-inline-block"
             target="_blank"
             style="padding-left: 15px;">
            <div class="w-inline-block font-color">الدخول</div>
          </a>
        </div>

        <!-- Language Toggle -->
        <a href="{{ .Site.BaseURL }}en/home/"
           class="header-button w-inline-block"
           style="padding-right:20px; text-decoration:none;">
          English
          <img src="{{ "images/flag-for-flag-united-kingdom-svgrepo-com.svg" | relURL }}"
               style="width:40px; padding-right:10px;" />
        </a>

        <!-- Mobile Menu -->
        <div class="menu-button w-nav-button">
          <div class="header-menu-button-icon-wrapper">
            <div class="icon-wrapper">
              <div class="header-menu-button-icon-top"></div>
              <div class="header-menu-button-icon-medium"></div>
              <div class="header-menu-button-icon-bottom"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
