<div data-collapse="medium" data-animation="over-left" data-duration="400"
    data-w-id="58db7844-5919-d71b-dd74-2323ed8dffe9" data-easing="ease" data-easing2="ease" role="banner"
    class="header w-nav">
    <div class="container-default w-container">
        <div class="header-wrapper">
            <div data-w-id="02b293cc-fd03-8c39-78c3-dfe63557a722" class="split-content header-right">
                <a href="/en/home" class="brand w-nav-brand"><img src="/Karage_Website/images/Karage Logo.svg"
                        alt="Karage Logo" class="header-logo"></a>
            </div>
            <nav role="navigation" data-w-id="58db7844-5919-d71b-dd74-2323ed8dffed" class="nav-menu w-nav-menu">
                <ul role="list" class="header-navigation">
                    <li class="nav-item-wrapper">
                        <div data-hover="true" data-delay="0" data-w-id="d0e237c9-deb9-b521-8b7c-6dc1cf9be943"
                            class="nav-link-dropdown w-dropdown">
                            <div class="nav-link dropdown w-dropdown-toggle">
                                Products
                                <span class="dropdown-arrow">
                                    <img src="/Karage_Website/images/arrow-drop-down-big.svg" width="20px;" />
                                </span>
                            </div>
                            <nav class="dropdown-list w-dropdown-list">
                                <div class="dropdown-nav-main-wrapper">
                                    <div class="dropdown-nav-pages-wrapper">
                                        <div class="dropdown-nav-content">
                                            <ul role="list" class="dropdown-nav">
                                                <li class="dropdown-nav-item">
                                                    <a href="{{ "/kashier/" | relLangURL }}"
                                                        class="dropdown-nav-link">Kashier</a>
                                                </li>
                                                <li class="dropdown-nav-item">
                                                    <a href="{{ "/pocket/" | relLangURL }}"
                                                        class="dropdown-nav-link">Pocket</a>
                                                </li>
                                                <li class="dropdown-nav-item">
                                                    <a href="{{ "/mykarage/" | relLangURL }}"
                                                        class="dropdown-nav-link">My Karage</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </li>
                    <li class="nav-item-wrapper">
                        <a href="{{ "/businesstype/" | relLangURL }}" class="nav-link">Business Types</a>
                    </li>
                    <li class="nav-item-wrapper">
                        <a href="{{ "/marketplace/" | relLangURL }}" class="nav-link">Marketplace</a>
                    </li>
                    <li class="nav-item-wrapper">
                        <a href="{{ "/pricing/" | relLangURL }}" class="nav-link">Pricing</a>
                    </li>
                    <li class="nav-item-wrapper header-button-mobile">
                        <a href="{{ "/tryforfree/" | relLangURL }}"
                            class="button-primary header-button mobile w-button"
                            style="background:#b6f174; color:#134f1a">Try it for - Free</a>
                    </li>
                    <li class="nav-item-wrapper header-button-mobile">
                        <a href="{{ "/" | relLangURL | replaceRE "/$" "/ar/" }}"
                            class="header-button w-inline-block arabic-font"
                            style="padding-left:20px; text-decoration:none;">
                            العربية
                            <img src="/Karage_Website/images/KSA.svg" style="width:50px; padding-left:10px;" />
                        </a>
                    </li>
                </ul>
            </nav>
            <div data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" class="split-content header-left">
                <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="rightSidebar"
                    data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper">
                    <a href="https://admin.garage.sa/" data-node-type="commerce-cart-open-link"
                        class="w-commerce-commercecartopenlink cart-button w-inline-block" target="_blank">
                        <div class="w-inline-block font-color">Sign In</div>
                    </a>
                </div>
                <a href="/ar/home" class="header-button w-inline-block arabic-font"
                    style="padding-left:20px; text-decoration:none;">
                    العربية
                    <img src="/Karage_Website/images/KSA.svg" style="width:50px; padding-left:10px;" />
                </a>

                <div class="menu-button w-nav-button">
                    <div class="header-menu-button-icon-wrapper">
                        <div class="icon-wrapper">
                            <div class="header-menu-button-icon-top"></div>
                            <div class="header-menu-button-icon-medium"></div>
                            <div class="header-menu-button-icon-bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>