@{
    ViewData["Title"] = "Kashier";
    Layout = "~/Views/Shared/_ArLayout.cshtml";
}

<div class="section about-v1-hero wf-section" dir="rtl" style="padding-bottom:0px;">
    <div class="container-medium-710px about-v1-hero" style="text-align:center;">
        <h1 data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0;" class="title neutral-100 about-v1-hero">
            جهاز واحد هو كل ما تحتاجه
            <br />
            احتياجات عملك
        </h1>
        <p data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0;" class="paragraph neutral-100 about-v1-hero">
            بسّط عملياتك اليومية باستخدام جهاز واحد يقوم بكل شيء، مما يجعل إدارة أعمالك أكثر سلاسة وكفاءة.
        </p>
        <div data-w-id="a295b755-f7b6-c4a2-e919-d1050ead6efc" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0; padding-bottom:70px; padding-top:40px;" class="_2-buttons">
            <a href="@Url.Action("ArTryForFree", "LandingPages")" class="button-lightgreen w-button">جربه مجانًا</a>
        </div>
    </div>
    <div class="container-default w-container">
        <div class="about-v1-hero-image">
            <div data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="image-wrapper about-v1-hero">
                <img src="../images/Kashier1.png" srcset="../images/Kashier1.png 800w, ../images/Kashier1.png 1600w, ../images/Kashier1.png 2000w, ../images/Kashier1.png 2400w" data-w-id="138ca745-4c44-f44b-ede2-60df6799277a" sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 95vw, (max-width: 1439px) 96vw, 1200px" alt="About Us - Startup X Webflow Template" class="image about-v1-hero">
            </div>
            <img src="../images/shape-2-cta-3-startup-x-template.svg" data-w-id="0da30b7e-04c3-db31-db03-4c661482d0ef" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);opacity:0" alt="" class="bg about-v1-hero-shape-1">
        </div>
        <div class="bg about-v1-hero">
        </div>
    </div>
</div>

<div class="section wf-section" dir="rtl" style="padding-top:0px;">
    <div class="container-default w-container">
        <div class="clients-wrapper">
            <div class="clients-individuals-wrapper">
                <div data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content clients-individuals-left">
                    <div class="subtitle-wrapper clients-individuals">
                        <div class="subtitle">
                            المرونة
                        </div>
                    </div>
                    <h2 class="title clients-individuals">
                        إعداد سهل وسريع
                    </h2>
                    <p class="paragraph clients-individuals paragraph-txt">
                        ابدأ تشغيل عملك بسهولة، دون الحاجة إلى تثبيتات معقدة أو معدات إضافية
                    </p>
                </div>
                <div class="split-content clients-individuals-right">
                    <div class="w-layout-grid clients-individuals-features-grid">
                        <div data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="clients-individuals-feature-wrapper">
                            <img src="../images/checkbox.svg" alt="Check Icon - Startup X Webflow Template" class="image clients-individuals-feature-icon">
                            <div>تطبيقات الهواتف المحمولة وسطح المكتب</div>
                        </div>
                        <div data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="clients-individuals-feature-wrapper">
                            <img src="../images/checkbox.svg" alt="Check Icon - Startup X Webflow Template" class="image clients-individuals-feature-icon">
                            <div>تطبيقات الهواتف المحمولة وسطح المكتب</div>
                        </div>
                    </div>
                    <div class="image-wrapper clients-individuals">
                        <img src="../images/kashier2A.jpg" sizes="100vw" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" data-w-id="ab4c956b-bebb-26b0-00d3-d57a40d13b63" srcset="../images/kashier2A.jpg 500w, ../images/kashier2A.jpg 800w, ../images/kashier2A.jpg 1078w" alt="Testimonials - Startup X Webflow Template" class="image clients-individuals">
                    </div>
                </div>
            </div>
            <div class="clients-startups-wrapper">
                <div class="split-content clients-startups-left">
                    <div class="image-wrapper clients-startups">
                        <img src="../images/kashier3A.jpg" sizes="100vw" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" data-w-id="56d89eb4-d2b4-de77-7d2b-81030e6208a3" srcset="../images/kashier3A.jpg 500w, ../images/kashier3A.jpg 800w, ../images/kashier3A.jpg 1076w" alt="Our Team - Startup X Webflow Template" class="image clients-startups">
                    </div>
                    <div data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="clients-startups-achievement">
                        <div class="clients-startups-achievement-number">200<span class="accent-text-primary-1">+</span></div>
                        <div class="clients-startups-achievement-text">المستخدمون النشطون شهريًا</div>
                    </div>
                </div>
                <div data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content clients-startups-right">
                    <div class="subtitle-wrapper clients-startups">
                        <div class="subtitle">السرعة</div>
                    </div>
                    <h2 class="title clients-startups">
                        عملية مبيعات مبسطة
                    </h2>
                    <p class="paragraph clients-startups paragraph-txt">
                        أدِر مبيعاتك دون الحاجة للتبديل بين الأجهزة، لضمان دقة المعاملات وسهولتها
                    </p>
                </div>
            </div>
            <div class="clients-individuals-wrapper" style="margin-bottom:0px; margin-top: 110px;">
                <div data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content clients-individuals-left">
                    <div class="subtitle-wrapper clients-individuals">
                        <div class="subtitle">
                            تكامل
                        </div>
                    </div>
                    <h2 class="title clients-individuals">
                        تكامل سلس
                    </h2>
                    <p class="paragraph clients-individuals paragraph-txt">
                        استفد من التكامل مع الشركاء لإدارة المخزون، المحاسبة، والمزيد لضمان اتصال جميع عملياتك
                    </p>
                </div>
                <div class="split-content clients-individuals-right">
                    <div class="image-wrapper clients-individuals">
                        <img src="../images/image5.svg" sizes="100vw" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" data-w-id="ab4c956b-bebb-26b0-00d3-d57a40d13b63" srcset="../images/image5.svg 500w, ../images/image5.svg 800w, ../images/image5.svg 1078w" alt="Testimonials - Startup X Webflow Template" class="image clients-individuals">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wf-section" style="padding-bottom:40px;" dir="rtl">
    <div class="container-default w-container">
        <div data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="content-top home-v1-faqs">
            <div class="split-content home-v1-faqs-top-left">
                <h2 class="title faqs">
                    ابدأ مجانًا، وقم بالترقية في أي وقت
                </h2>
                <p class="paragraph clients-individuals paragraph-txt">استكشف ميزات كاشير مجانًا وقم بالترقية عندما تكون مستعدًا.</p>
            </div>
        </div>
        <div class="card-service" style="display: inline-table;">
            <img src="~/images/banner1.png" alt="Services - Startup X Webflow Template" class="image card-service" style="width:50%; padding-left: 5px">

            <img src="~/images/banner2.png" alt="Services - Startup X Webflow Template" class="image card-service" style="width:50%; padding-right: 5px">
        </div>
    </div>
</div>

<div class="section wf-section" style="padding-top:100px;background:#fefaf4 !important;">
    <div class="container-default faqs">
        <h2 data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0; text-align:right" class="title clients-individuals">الأسئلة الشائعة</h2>
    </div>
    <div class="container-default w-container" style="direction:rtl;">
        <div data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="faqs-wrapper v2">
            <div class="split-content faqs-left contact">
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq"> هل يتوفر إصدار مجاني من كراج؟</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">نعم، كراج يقدم إصدارًا مجانيًا مع ميزات أساسية.</p>
                    </div>
                </div>
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq"> ما الفرق بين الخطط المجانية والمدفوعة؟</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">الخطط المدفوعة تقدم ميزات متقدمة وتكاملات إضافية ودعمًا إضافيًا.</p>
                    </div>
                </div>
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">هل يمكنني تغيير خطتي لاحقًا إذا لزم الأمر؟</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">نعم، يمكنك الترقية أو التخفيض حسب تغير احتياجاتك.</p>
                    </div>
                </div>
            </div>
            <div class="split-content faqs-right contact">
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">كيف يتم احتساب الاشتراك – شهريًا أم سنويًا؟</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">نقدم خيارات الفوترة الشهرية والسنوية.</p>
                    </div>
                </div>
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">هل توجد رسوم خفية في الخطط المدفوعة؟</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">لا، نحن نقدم تسعيرًا شفافًا دون رسوم خفية.</p>
                    </div>
                </div>
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">ما طرق الدفع التي تقبلونها؟</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">نقبل طرق دفع متنوعة، بما في ذلك البطاقات والتحويلات البنكية.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>