@{
    ViewData["Title"] = "Kashier";
    Layout = "~/Views/Shared/_ArLayout.cshtml";
}

<div class="section about-v1-hero wf-section" dir="rtl">
    <div class="container-medium-710px about-v1-hero" style="text-align:center;">
        <h1 data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0;" class="title neutral-100 about-v1-hero">
            جهاز واحد هو كل ما تحتاجه
            <br />
            احتياجات عملك
        </h1>
        <p data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0;" class="paragraph neutral-100 about-v1-hero">Lorem ipsum dolor sit amet consectetur adipiscing elit consectetur tortor nunc aliquam consectetur semper augue at.</p>
        <div data-w-id="a295b755-f7b6-c4a2-e919-d1050ead6efc" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0; padding-bottom:70px; padding-top:40px;" class="_2-buttons">
            <a href="@Url.Action("ArTryForFree", "LandingPages")" class="button-lightgreen w-button">جربه مجانًا</a>
        </div>
    </div>
    <div class="container-default w-container">
        <div class="about-v1-hero-image">
            <div data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="image-wrapper about-v1-hero"><img src="../images/image-about-v1-hero-startup-x-template.jpg" srcset="../images/image-about-v1-hero-startup-x-template-p-800.jpeg 800w, ../images/image-about-v1-hero-startup-x-template-p-1600.jpeg 1600w, ../images/image-about-v1-hero-startup-x-template-p-2000.jpeg 2000w, ../images/image-about-v1-hero-startup-x-template.jpg 2400w" data-w-id="138ca745-4c44-f44b-ede2-60df6799277a" sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 95vw, (max-width: 1439px) 96vw, 1200px" alt="About Us - Startup X Webflow Template" class="image about-v1-hero"></div><img src="../images/shape-2-cta-3-startup-x-template.svg" data-w-id="0da30b7e-04c3-db31-db03-4c661482d0ef" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);opacity:0" alt="" class="bg about-v1-hero-shape-1">
        </div>
        <div class="bg about-v1-hero">
        </div>
    </div>
</div>

<div class="section wf-section" dir="rtl">
    <div class="container-default w-container">
        <div class="clients-wrapper">
            <div class="clients-individuals-wrapper">
                <div data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content clients-individuals-left">
                    <div class="subtitle-wrapper clients-individuals">
                        <div class="subtitle">
                            للأفراد
                        </div>
                    </div>
                    <h2 class="title clients-individuals">Startup X is great for individuals</h2>
                    <p class="paragraph clients-individuals">Lorem ipsum dolor sit amet, consectetur adipiscing elit eque ipsum odio justo amet, urna, auctor. At congue vulputate augue praesent mauris eu posuere pretium tellus. Viverra volutpat a est quis egestas id risus cursus venenatis.</p>
                </div>
                <div class="split-content clients-individuals-right">
                    <div class="w-layout-grid clients-individuals-features-grid">
                        <div data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="clients-individuals-feature-wrapper">
                            <img src="../images/icon-check-startup-x-template.svg" alt="Check Icon - Startup X Webflow Template" class="image clients-individuals-feature-icon">
                            <div>تطبيقات الهواتف المحمولة وسطح المكتب</div>
                        </div>
                        <div data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="clients-individuals-feature-wrapper">
                            <img src="../images/icon-check-startup-x-template.svg" alt="Check Icon - Startup X Webflow Template" class="image clients-individuals-feature-icon">
                            <div>تطبيقات الهواتف المحمولة وسطح المكتب</div>
                        </div>
                    </div>
                    <div class="image-wrapper clients-individuals"><img src="../images/image-2-home-v2-clients-startup-x-template.jpg" sizes="100vw" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" data-w-id="ab4c956b-bebb-26b0-00d3-d57a40d13b63" srcset="../images/image-2-home-v2-clients-startup-x-template-p-500.jpeg 500w, ../images/image-2-home-v2-clients-startup-x-template-p-800.jpeg 800w, ../images/image-2-home-v2-clients-startup-x-template.jpg 1078w" alt="Testimonials - Startup X Webflow Template" class="image clients-individuals"></div>
                </div>
            </div>
            <div class="clients-startups-wrapper">
                <div class="split-content clients-startups-left">
                    <div class="image-wrapper clients-startups"><img src="../images/image-1-home-v2-clients-startup-x-template.jpg" sizes="100vw" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" data-w-id="56d89eb4-d2b4-de77-7d2b-81030e6208a3" srcset="../images/image-1-home-v2-clients-startup-x-template-p-500.jpeg 500w, ../images/image-1-home-v2-clients-startup-x-template-p-800.jpeg 800w, ../images/image-1-home-v2-clients-startup-x-template.jpg 1076w" alt="Our Team - Startup X Webflow Template" class="image clients-startups"></div>
                    <div data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="clients-startups-achievement">
                        <div class="clients-startups-achievement-number">205M<span class="accent-text-primary-1">+</span></div>
                        <div class="clients-startups-achievement-text">المستخدمون النشطون شهريًا</div>
                    </div>
                </div>
                <div data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content clients-startups-right">
                    <div class="subtitle-wrapper clients-startups">
                        <div class="subtitle">للشركات الناشئة</div>
                    </div>
                    <h2 class="title clients-startups">A dedicated solution for startups and enterprises</h2>
                    <p class="paragraph clients-startups">Lorem ipsum dolor sit amet, consectetur adipiscing elit eque ipsum odio justo amet, urna, auctor. At congue vulputate augue praesent mauris eu posuere pretium tellus. Viverra volutpat a est quis egestas id risus cursus venenatis.</p>
                </div>
            </div>
            <div class="clients-individuals-wrapper" style="margin-bottom:0px !important; margin-top: 110px !important;">
                <div data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content clients-individuals-left">
                    <div class="subtitle-wrapper clients-individuals">
                        <div class="subtitle">للأفراد</div>
                    </div>
                    <h2 class="title clients-individuals">Startup X is great for individuals</h2>
                    <p class="paragraph clients-individuals">Lorem ipsum dolor sit amet, consectetur adipiscing elit eque ipsum odio justo amet, urna, auctor. At congue vulputate augue praesent mauris eu posuere pretium tellus. Viverra volutpat a est quis egestas id risus cursus venenatis.</p>
                </div>
                <div class="split-content clients-individuals-right">
                    <div class="image-wrapper clients-individuals">
                        <img src="../images/image-2-home-v2-clients-startup-x-template.jpg" sizes="100vw" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" data-w-id="ab4c956b-bebb-26b0-00d3-d57a40d13b63" srcset="../images/image-2-home-v2-clients-startup-x-template-p-500.jpeg 500w, ../images/image-2-home-v2-clients-startup-x-template-p-800.jpeg 800w, ../images/image-2-home-v2-clients-startup-x-template.jpg 1078w" alt="Testimonials - Startup X Webflow Template" class="image clients-individuals">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section bg-secondary-1 wf-section" style="background:#fefaf4 !important; padding-bottom: 200px;" dir="rtl">
    <div class="container-default w-container">
        <div data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="content-top home-v1-faqs">
            <div class="split-content home-v1-faqs-top-left">
                <h2 class="title faqs">الأسئلة المتكررة</h2>
            </div>
        </div>
        <div data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="faqs-wrapper">
            <div class="split-content faqs-left">
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">ما هو التكلفة الشهرية لتطبيقكم؟</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere vel venenatis, eu sit massa. Volutpat massa rhoncus odio feugiat tellus elit massa sed ullamcorper a in.</p>
                    </div>
                </div>
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">هل لديكم أي فروع محلية؟</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere vel venenatis, eu sit massa. Volutpat massa rhoncus odio feugiat tellus elit massa sed ullamcorper a in.</p>
                    </div>
                </div>
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">ماذا أحتاج لإنشاء حساب؟</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere vel venenatis, eu sit massa. Volutpat massa rhoncus odio feugiat tellus elit massa sed ullamcorper a in.</p>
                    </div>
                </div>
            </div>
            <div class="split-content faqs-right">
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">هل الخدمة متاحة عالميًا؟</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere vel venenatis, eu sit massa. Volutpat massa rhoncus odio feugiat tellus elit massa sed ullamcorper a in.</p>
                    </div>
                </div>
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">كيف يمكنني إنشاء حساب؟</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere vel venenatis, eu sit massa. Volutpat massa rhoncus odio feugiat tellus elit massa sed ullamcorper a in.</p>
                    </div>
                </div>
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">هل لديكم تطبيقات على نظامي iOS و Android؟</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere vel venenatis, eu sit massa. Volutpat massa rhoncus odio feugiat tellus elit massa sed ullamcorper a in.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>