@{
    ViewData["Title"] = "Terms And Condition";
    Layout = "~/Views/Shared/_ArLayout.cshtml";
}

<div class="section about-v1-hero wf-section">
    <div class="container-medium-710px home-v2-hero" style="margin-bottom:0px;">
        <h1 data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="font-size: 70px;" class="title home-v2-hero">الشروط والأحكام</h1>
        <p data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="margin-top:15px;" class="paragraph home-v2-hero">آخر تحديث: 16/07/2023</p>
    </div>
</div>
<div class="section services wf-section" style="padding-bottom:100px; padding-top:0px; border-bottom:1px solid #dddddd">
    <div class="container-default w-container">
        <div class="invesibledivider _12"></div>
        <div class="paragraph terms-service">
            <p>يرجى قراءة هذه الشروط والأحكام ("الشروط") بعناية قبل الوصول إلى أو استخدام أي من المنتجات أو الخدمات التي تقدمها Garage Tech.</p>
            <p>الاتفاقية بينك (المشار إليها بـ "أنت"، "لك"، "المستخدم" أو "المستخدمين") وGarage Tech ("Garage"، "نحن" أو "لنا") تحكمها اتفاقية شروط خدمة Garage ("الاتفاقية"). تنطبق هذه الاتفاقية على تطبيقات Garage ("التطبيق" أو "التطبيقات")، وموقع Garage الإلكتروني، وأي خدمات أو منتجات أخرى تقدم بأي شكل (سواء كانت برمجيات أو أجهزة أو خدمات)، ويُشار إليها مجتمعة باسم "الخدمات".</p>
            <p>من خلال الوصول إلى أو استخدام الخدمات، أو تنزيل التطبيق، أو طلب أي من الخدمات، فإنك تلزم نفسك قانونيًا أو الكيان الذي تمثله بهذه الاتفاقية. أنت تقبل وتوافق على جميع شروط الاتفاقية للوصول إلى أو استخدام خدمات Garage (وفقًا لحزمة الخدمة المتفق عليها). إذا لم توافق على هذه الشروط، لا يحق لك الاستفادة من أي من الخدمات التي تقدمها Garage.</p>
            <p>جميع مستخدمي الخدمات، بما في ذلك على سبيل المثال لا الحصر البائعين والمشترين أو المساهمين في المحتوى أو الخدمات، ملزمون بهذه الشروط.</p>
            <h5 class="title h3-size card-service">التعديلات</h5>
            <p>تحتفظ Garage بحق تعديل أو تغيير هذه الشروط في أي وقت. سيتم إخطارك بالتغييرات عبر البريد الإلكتروني أو رسالة عند استخدامك للخدمات في المرة القادمة. إذا واصلت استخدام الخدمات بعد إجراء التغييرات على الشروط، فإن وصولك واستخدامك للخدمات سيكون وفقًا للاتفاقية الأحدث.</p>
            <p>كما نحتفظ بالحق في تغيير أو إضافة أو إزالة أي ميزات أو وظائف أو تسهيلات أو موارد مقدمة ضمن الخدمات في أي وقت. للاستفادة من التغييرات أو الإضافات على الخدمات، قد يُطلب منك تحديث أو تثبيت أحدث إصدار من التطبيق أو ترقية الأجهزة.</p>
            <p>لا تضمن هذه الشروط توفر الخدمات بشكل مستمر. Garage غير ملتزمة بموجب هذه الشروط بتقديم الدعم والصيانة للخدمات أو الاستمرار في تقديمها. قد نقرر التوقف عن توفير كل أو بعض الخدمات في أي وقت.</p>
            <h5 class="title h3-size card-service">التعريفات</h5>
            <p>"حساب Garage" يشير إلى الحساب الذي يتم إنشاؤه للوصول إلى خدمات Garage.</p>
            <p>"الملكية الفكرية" تشمل جميع الحقوق الحالية أو المستقبلية المتعلقة بحقوق التأليف والنشر، العلامات التجارية، علامات الخدمة، براءات الاختراع، اللباس التجاري، حقوق العمل، حقوق النشر، حقوق الشهرة، الحقوق الأدبية، حقوق الأسرار التجارية، وغيرها من حقوق الملكية الفكرية.</p>
            <p>"المحتوى" يشير إلى أي شكل من أشكال البيانات المستخدمة، بما في ذلك النصوص والصور والرسومات والصور الفوتوغرافية والصوت والفيديو والمعلومات عن المواقع.</p>
            <p>"محتوى المستخدم" يشير إلى المحتوى الذي يقدمه المستخدم لأغراض مختلفة مثل التسويق أو عرض وبيع منتجاته وخدماته.</p>
            <p>"بيانات المستخدم" تشير إلى المحتوى الذي يقدمه أو يرفعه المستخدم إلى أو من خلال خدمات Garage. يشمل ذلك، على سبيل المثال لا الحصر، التقييمات، التعليقات، المعلومات الشخصية، الرسائل، والمعلومات المقدمة للاستخدام العام أو الخاص داخل حسابك.</p>
            <p>"قائمة المنتجات" تشير إلى قائمة بالعناصر التي تتعلق بنوع العمل الذي يقوم به المستخدم، والتي يمكن عرضها وتسويقها وبيعها وشراؤها من خلال الخدمات أو باستخدامها.</p>
            <h5 class="title h3-size card-service">حساب Garage</h5>
            <p>للوصول إلى خدمات Garage واستخدامها، يُطلب منك إنشاء حساب Garage. يجب أن تكون في السن القانونية وتملك الصلاحية اللازمة لقبول هذه الشروط للوصول إلى واستخدام الخدمات. بالإضافة إلى ذلك، يجب عليك التأكد من أن المعلومات المقدمة، سواء كانت شخصية أو متعلقة بعملك، دقيقة ومحدثة وكاملة. تقع على عاتقك مسؤولية تحديث أي تغييرات أو تعديلات على المعلومات التي تم تقديمها سابقًا.</p>
            <p>إذا قمت بإنشاء حساب Garage نيابةً عن كيان آخر، مثل شركة أو منظمة أو فرد آخر، فإنك تقر وتضمن أنك ممثل مفوض لهذا الكيان وتملك الصلاحية لإلزام هذا الكيان بهذه الاتفاقية.</p>
            <h5 class="title h3-size card-service">دفع الحساب</h5>
            <p>من خلال الاشتراك في حساب Garage، فإنك تفوضنا بخصم الدفع لكل فترة اشتراك في بداية تلك الفترة. ستستمر Garage في خصم الدفعات لفترات الاشتراك اللاحقة في بداية كل فترة مقابلة.</p>
            <p>توافق على أن Garage ستقوم بتحصيل جميع الرسوم المعمول بها باستخدام طريقة الدفع التي اخترتها عند الاشتراك في حساب Garage. قد تستخدم Garage بائعًا تابعًا لطرف ثالث لتسهيل تسويات الأعمال، معاملات البطاقات، أو أي خدمات دفع أخرى. توافق على الامتثال للشروط والأحكام الخاصة بالطرف الثالث المذكور لجميع الخدمات ذات الصلة.</p>
            <p>تُفوّض أيضًا Garage والبائع التابع للطرف الثالث بمشاركة أي معلومات مستخدم ضرورية لإتمام معاملات الدفع، مثل المعلومات الشخصية، معلومات بطاقات الائتمان، والمعلومات المالية.</p>
            <h5 class="title h3-size card-service">التجربة المجانية</h5>
            <p>توفر Garage فترة تجربة مجانية لمدة 15 يومًا لبعض الخدمات المختارة، مما يتيح للمستخدمين تجربة خدمات Garage. إذا رغب المستخدم في الاستمرار في استخدام الخدمات بعد انتهاء فترة التجربة، يجب عليه تقديم معلومات دفع صالحة لخطة الاشتراك المختارة.</p>
            <p>لا تتحمل Garage مسؤولية تقديم إشعار مسبق قبل انتهاء صلاحية فترة التجربة المجانية. بالإضافة إلى ذلك، تحتفظ Garage بالحق في تعديل أو إنهاء التجربة المجانية في أي وقت دون إشعار مسبق. جميع الرسوم والمبالغ مستثناة من الضرائب، ويوافق المستخدم على أن Garage ليست مسؤولة عن أي مشاكل أو غرامات تدعيها أي سلطة ضريبية.</p>
            <h5 class="title h3-size card-service">إنهاء الحساب</h5>
            <p>في حالة عدم الامتثال للشروط، تحتفظ Garage بالحق في إنهاء حسابك، تعديل أو إزالة المحتوى، أو إلغاء طلب الخدمة وفقًا لتقديرها الخاص. كما يحق لـ Garage إنهاء حسابك وحذف جميع البيانات المرتبطة به إذا ظل الحساب غير نشط لمدة 180 يومًا متتالية.</p>
            <p>قد تقوم Garage بإنهاء أو تعليق بعض أو كل الأنشطة على حساب Garage الخاص بك دون إشعار مسبق أو تفسير لأسباب تشمل انتهاكات الشروط أو السياسات. سيؤدي إنهاء الاتفاقية إلى إنهاء الترخيص باستخدام الخدمات، ويجب على المستخدم التوقف فورًا عن استخدام أي خدمات.</p>
            <p>بعد الإنهاء، سيكون للمستخدم 30 يومًا من تاريخ الإنهاء لاسترداد محتوى المستخدم وبيانات المستخدم. بعد هذه الفترة، يحق لـ Garage حذف محتوى المستخدم وبيانات المستخدم دون أي مسؤولية تجاه المستخدم أو أي طرف ثالث.</p>
            <h5 class="title h3-size card-service">مسؤولية الحساب</h5>
            <p>توفر Garage منصة لإجراء المعاملات التجارية، بما في ذلك شراء وبيع وتسويق المنتجات. ومع ذلك، فإن Garage ليست مسؤولة عن طبيعة المعاملات بين المشترين والبائعين، أو صحة وجودة وسلامة المنتجات المدرجة من قبل البائعين، أو التقييمات المتعلقة بهذه المنتجات.</p>
            <p>كما أن Garage ليست مسؤولة عن إتمام أي معاملة بين المشترين والبائعين. لا تقوم Garage بالتحقق من دقة المعلومات المقدمة من المستخدمين أو من المستخدمين أنفسهم. جميع الأنشطة التي تتم بموجب حساب Garage هي المسؤولية الكاملة للمستخدم. يجب على المستخدم إخطار Garage على الفور في حالة الاستخدام غير المصرح به أو أي إشارة إلى اختراق أمني في حساب Garage الخاص بهم. كما يتحمل المستخدم مسؤولية الحفاظ على سرية وأمان معلومات الحساب وكلمة المرور الخاصة به.</p>
            <p>يوافق المستخدم على الامتثال لقوانين البلد (أو البلدان) التي يعمل فيها نشاطه التجاري فيما يتعلق بأنشطته باستخدام حساب Garage أو الخدمات. يوافق المستخدم على عدم الانخراط في أنشطة غير قانونية أو مضللة أو احتيالية أو مشكوك فيها، أو استخدام محتوى قد يعتبر غير ملائم أو تشهيري. علاوة على ذلك، يوافق المستخدم على عدم استخدام الخدمات بطريقة تضر بأنظمة Garage أو أمانها أو المستخدمين الآخرين. كما يوافق المستخدم على عدم التعدي على حقوق الأطراف الثالثة، بما في ذلك حقوق الملكية الفكرية، أو إساءة استخدام أي معلومات سرية تابعة لطرف ثالث من خلال استخدامه للخدمات.</p>
            <p>يوافق المستخدم أيضًا على عدم جمع المعلومات والبيانات من خدماتنا أو أنظمتنا أو خوادمنا. ويجب عليه الامتناع عن محاولة التقاط أو فك أي نقل بين خوادمنا. يُحظر على المستخدم استخدام معلومات أو بيانات مستخدم آخر لأي سبب أو غرض دون اتفاق مسبق من ذلك المستخدم، بما في ذلك الأغراض التجارية أو التسويقية. علاوة على ذلك، يُمنع المستخدم من استخدام طرق تلقائية أو روبوتات لتسجيل الدخول إلى حساب Garage الخاص به.</p>
            <h5 class="title h3-size card-service">إلغاء الحساب</h5>
            <p>لدى المستخدم خيار إلغاء اشتراكه في خدمات Garage في أي وقت. لإلغاء الاشتراك، يجب أن يكون المستخدم مسجل الدخول إلى حسابه. إذا تم إلغاء الاشتراك قبل نهاية الفترة المدفوعة، يمكن للمستخدم الاستمرار في الاستفادة من الخدمات حتى نهاية تلك الفترة. بعد ذلك، لن يتم تجديد الاشتراك وسيتم إلغاء حساب Garage. لن يتم تقديم أي استرداد للفترة الملغاة للاشتراك، إلا إذا تم الاتفاق على ذلك قبل الإلغاء.</p>
            <p>عند الإلغاء الكامل للحساب، سيتم تنفيذ ما يلي:</p>
            <ul role="list">
                <li>تعطيل الحساب</li>
                <li>حذف بيانات الحساب (Garage ليست مسؤولة عن استرداد أي مواد أو محتوى أو معلومات)</li>
                <li>إنهاء حقوق المستخدم في الخدمات الممنوحة بموجب هذه الاتفاقية</li>
            </ul>
            <h5 class="title h3-size card-service">التوفر</h5>
            <p>Garage لا تضمن التوفر المستمر للخدمات، وقد لا يتمكن المستخدم دائمًا من الوصول غير المنقطع أو في الوقت المناسب أو بشكل آمن إلى الخدمات. قد يتم تحديث الخدمات أو تغييرها أو انقطاعها أو إنهاؤها في أي وقت دون إشعار مسبق.</p>
            <p>Garage أيضًا لا تضمن أن تكون الخدمات دائمًا موثوقة، وقد لا تلبي جودة المنتجات أو الخدمات أو المعلومات المقدمة من خلال الخدمات توقعات المستخدم. Garage لا تضمن معالجة وتصحيح أي أخطاء.</p>

            <h5 class="title h3-size card-service">تغيير نوع الاشتراك</h5>
            <p>يتمتع المستخدم بمرونة الترقية أو التخفيض في حزمة الاشتراك الخاصة به من خلال حسابه. ستسري أي تغييرات على الاشتراك فورًا. إذا قام المستخدم بتخفيض اشتراكه، فلن يتم استرداد الرصيد غير المستخدم للحزمة الأدنى. ومع ذلك، قد يؤدي تخفيض الاشتراك من حزمة أعلى إلى أخرى أدنى إلى فقدان الوصول أو بعض الميزات، مما قد يؤدي إلى فقدان المحتوى. Garage غير مسؤولة عن فقدان المحتوى أو الوصول أو الميزات الناتجة عن تغيير حزمة الاشتراك.</p>
            <p>إذا قام المستخدم بترقية اشتراكه، فسيتم تطبيق الرصيد المدفوع بالفعل على الحزمة الأعلى، وستقوم Garage بخصم أي رصيد متبقٍ للاشتراك الجديد فورًا باستخدام طريقة الدفع المفضلة للمستخدم.</p>

            <h5 class="title h3-size card-service">محتوى المستخدم وبيانات المستخدم</h5>
            <p>يضمن المستخدم أن لديه الصلاحية اللازمة لاستخدام المحتوى أو منح الإذن باستخدامه. يتحمل المستخدم المسؤولية الكاملة عن محتواه والمخاطر المرتبطة بصحته وأصالته وجودته وموثوقيته، بالإضافة إلى أي آراء يتم التعبير عنها حول دقته. Garage ليست مسؤولة عن أي معلومات تعريف شخصية مدرجة في محتوى المستخدم. لا يجوز للمستخدم الإيحاء أو الادعاء بأن Garage قد أيدت أو دعمت المحتوى بأي شكل من الأشكال.</p>
            <p>بمجرد نشره، قد لا يكون من الممكن دائمًا إزالة المحتوى. Garage لا تتحمل أي مسؤولية عن أي محتوى ينشره أو يوفره المستخدم أو أي طرف ثالث. يضمن المستخدم أن البيع أو الشراء أو تسويق أي عناصر أو خدمات يقدمها في أعماله قد تم بشكل قانوني وأن الوصف المقدم دقيق. قد تتضمن قائمة المنتجات أوصافًا نصية وصورًا ورسومات ذات صلة لبيع المنتجات.</p>
            <p>Garage ليست مسؤولة عن سلامة وسرية المحتوى وبيانات المستخدم، كما أنها غير مسؤولة عن أي أضرار أو خسائر قد تحدث للمحتوى وبيانات المستخدم. Garage ليست ملزمة بتقديم نسخة مكررة أو احتياطية من المحتوى أو البيانات. كما تحتفظ Garage بالحق في مراقبة أو إزالة أو تحرير أو تعديل أي نشاط أو محتوى أو بيانات مستخدم أو استخدامها لأغراض إعلانية، وفقًا لتقديرها دون إشعار مسبق.</p>

            <h5 class="title h3-size card-service">الأمان</h5>
            <p>تطبق Garage تدابير أمان لمنع فقدان البيانات أو التعديل غير المصرح به أو الوصول إلى المعلومات الشخصية. ومع ذلك، لا تضمن Garage عدم حدوث اختراقات أمنية نتيجة التحايل على هذه التدابير. يقر المستخدم بأنه يقدم معلوماته الشخصية وبياناته على مسؤوليته الخاصة.</p>

            <h5 class="title h3-size card-service">الموردون الخارجيون</h5>
            <p>يُصرح للمستخدم لـ Garage باستخدام أو دمج موردين خارجيين لتقديم أي خدمات أو منتجات قد تكون مطلوبة لتوفير خدماتنا. يوافق المستخدم على الامتثال لشروط خدمة هؤلاء الموردين الخارجيين ويوافق على عدم تحميل Garage المسؤولية عن أي إجراءات يتخذها المورد الخارجي، حتى لو تسببت هذه الإجراءات في أي شكل من أشكال الخسارة أو الضرر، بما في ذلك على سبيل المثال لا الحصر، الإصابات الشخصية أو الأضرار بالممتلكات (حتى في مقر إقامتك) أو خسائر الأعمال المتعلقة بالمنتجات أو الخدمات.</p>
            <p>يمنح المستخدم أيضًا Garage الصلاحية لمشاركة وتبادل والتحكم في بياناته (سواء كانت شخصية أو متعلقة بالأعمال) مع هؤلاء الموردين الخارجيين لغرض تقديم الخدمات. تخضع المعلومات المشتركة مع الموردين الخارجيين لشروط وأحكام وسياسات الخصوصية الخاصة بهؤلاء الأطراف، والتي تختلف عن شروط وأحكام وسياسة الخصوصية الخاصة بـ Garage.</p>
            <p>يقر المستخدم بأن المنتجات والخدمات الخارجية المدمجة في الخدمات لا تخضع لسيطرة Garage، وأن هذه الاتفاقية لا تنطبق على الخدمات والمنتجات الخارجية ما لم يُنص على خلاف ذلك.</p>
            <p>قد تتضمن خدمات Garage روابط لمواقع أو إعلانات أطراف ثالثة. إذا نقر المستخدم على هذه الروابط، فلن تقوم Garage بإشعاره بأنه قد غادر نطاق هذه الاتفاقية وأصبح خاضعًا لشروط وأحكام وسياسات الخصوصية الخاصة بالطرف الثالث. هذه المواقع والإعلانات ليست من مسؤولية Garage ولا تخضع لسيطرتها. يتم تقديمها فقط لتوفير الراحة، ولا تقوم Garage بمراجعة أو ضمان أو مراقبة أو تأييد أو تمثيل مثل هذا المحتوى.</p>
            <p>يقر المستخدم بأن استخدام مثل هذه الروابط يكون على مسؤوليته الخاصة. يُنصح بمراجعة شروط وأحكام وسياسات الخصوصية الخاصة بمواقع وتطبيقات وإعلانات الأطراف الثالثة وإجراء التحقيقات المناسبة قبل المضي قدمًا في أي اتفاق أو معاملة.</p>

            <h5 class="title h3-size card-service">حقوق الملكية الفكرية</h5>
            <p>لا يجوز استخدام أي من حقوق الملكية الفكرية أو العلامات التجارية المسجلة لـ Garage بالتزامن مع علامات تجارية أو منتجات أو خدمات أخرى بطريقة قد تسبب الالتباس بشأن خدمات Garage أو منتجاتها أو حقوقها القانونية أو أي عروض أو تمثيلات أخرى. يقر المستخدم بملكية Garage لحقوق الملكية الفكرية الخاصة بها الموجودة في خدمات Garage، ويوافق على عدم اتخاذ أي إجراء يتعارض مع هذه الملكية أو يطعن فيها.</p>
            <p>تشمل حقوق الملكية الفكرية والعلامات التجارية المسجلة لـ Garage، على سبيل المثال لا الحصر، الشعارات والأزرار والرموز والتصاميم ورؤوس الصفحات والنصوص البرمجية وأسماء الخدمات المرتبطة بـ Garage. لا يجوز استخدام علامات Garage التجارية كجزء من أسماء النطاقات أو عناوين البريد الإلكتروني أو المواقع الإلكترونية. يوافق المستخدم على عدم نشر أو استخدام الملكية الفكرية أو العلامة التجارية لـ Garage أو أي مواد مملوكة لـ Garage ما لم يتم التوصل إلى اتفاق كتابي مع Garage مسبقًا.</p>
            <p>تخضع بيانات المستخدم والمعلومات التي تم جمعها من خلال استخدام المستخدم للخدمات لترخيص خالٍ من الحقوق يُمنحه المستخدم لـ Garage لفترة زمنية غير محدودة. تتضمن هذه البيانات تعليقات المستخدم ومراجعاته للخدمات. بموجب هذا الترخيص، يجوز لـ Garage استخدام بيانات ومعلومات المستخدم، وقد تقوم بتعديل أو تضمين تعليقات أو ملاحظات المستخدم لأغراض تجارية واستخدامات أخرى. توافق Garage على الحفاظ على سرية هوية المستخدم واستخدام بيانات المستخدم بشكل جماعي مع بيانات مستخدمي Garage الآخرين.</p>

            <h5 class="title h3-size card-service">إخلاء المسؤولية</h5>
            <p>جميع المحتويات والمواد والمنتجات (بما في ذلك الأجهزة والبرامج) والخدمات التي تقدمها Garage تُقدَّم على أساس "كما هي" و"كما هو متاح"، ويكون استخدامها على مسؤولية المستخدم وحده. لا تقدم Garage أي ضمان من أي نوع، سواء كان صريحًا أو ضمنيًا، بخصوص تشغيل الخدمات (بما في ذلك الأجهزة والبرامج) أو البيانات أو المعلومات أو المحتوى أو المواد أو المنتجات (بما في ذلك البرامج والأجهزة) أو الخدمات المقدمة أو المتاحة. تنفي Garage جميع الضمانات، بما في ذلك على سبيل المثال لا الحصر ضمانات الملكية أو الملاءمة لغرض معين.</p>
            <p>Garage ليست مسؤولة عن أي أضرار أو خسائر قد تحدث للأرباح أو الأعمال أو السمعة أو البيانات أو أي خسارة مادية أو غير مادية نتيجة استخدام الخدمات.</p>
            <p>Garage أيضًا ليست مسؤولة عن الأضرار أو الخسائر الناجمة عن فشل الأداء أو الأخطاء أو الفيروسات أو انقطاع الخدمة أو الاتصالات أو تأخير النقل أو حذف البيانات أو المعلومات أو العيوب، سواء كانت ناجمة عن ظروف بيئية أو وصول غير مصرح به أو سرقة أو تدمير.</p>
            <ul role="list">
                <li> أي انتهاك، حتى لو كان مزعوماً، لهذا الاتفاق أو الشروط والسياسات المحددة فيه أو الوثائق المدرجة كمرجع في هذا الاتفاق.</li>
                <li> انتهاكك لأي قانون أو قاعدة أو لائحة في بلدك.</li>
                <li> انتهاكك لحقوق طرف ثالث، بما في ذلك على سبيل المثال لا الحصر، حق الخصوصية أو الدعاية أو الملكية الفكرية.</li>
                <li> استخدامك لخدمات "Garage" أو عدم قدرتك على استخدامها.</li>
            </ul>
            <p> ينطبق هذا الإخلاء إلى أقصى حد يسمح به القانون المعمول به، ما لم يتم تحديد خلاف ذلك كتابةً.</p>
            <h5 class="title h3-size card-service">الحقوق والقيود</h5>
            <p> قد تقدم "Garage" دعمًا فنيًا وتضمن كفاية وظائف الخدمات من خلال مراقبة الأجهزة التي تحتوي على برامج وتطبيقات "Garage" أو المتصلة بشبكة "Garage". يتم ذلك باستخدام أدوات ومرافق محددة مدمجة في برامج وتطبيقات "Garage"، والتي تتيح لـ "Garage" الوصول عن بُعد إلى هذه الأجهزة.</p>
            <p> يمنح المستخدم "Garage" الحقوق لاستخدام هذه الأدوات والمرافق، بما في ذلك القدرة على تسجيل الدخول إلى الأجهزة وتعديل البيانات ومعالجتها بغرض تحسين أو صيانة وظائف الخدمات.</p>
            <p> يقر المستخدم بأن "Garage" قد تفرض قيودًا على جوانب معينة من الخدمات بناءً على عوامل مثل:</p>
            <ul role="list">
                <li> عدد معاملات البيع من حساب المستخدم شهريًا.</li>
                <li> كمية التخزين المطلوبة لبيانات المستخدم.</li>
                <li> عدد مرات الوصول إلى صفحة المستخدم خلال فترة 5 دقائق.</li>
                <li> عدد مرات استدعاء واجهة برمجة التطبيقات (API) خلال فترة 5 دقائق.</li>
                <li> النطاق الترددي المستخدم من قبل المستخدم خلال فترة 24 ساعة.</li>
                <li> عدد الفروع، العملاء، والمنتجات.</li>
                <li> عدد تذاكر الدعم الفني المفتوحة شهريًا.</li>
            </ul>
            <p> إذا لم تقم "Garage" بتطبيق اللوائح أو اتخاذ إجراء فوري استجابة لأي انتهاك للشروط، فهذا لا يعني التنازل عن الشروط أو الحقوق، ولا يعني إعفاء المستخدم من الالتزام بتلك السياسات والشروط. قد تقوم "Garage"، ولكنها غير ملزمة، بإخطار المستخدمين بأي قيود على خدماتهم إذا لزم الأمر.</p>
            <h5 class="title h3-size card-service">الشروط لتنزيلات متجر Apple</h5>
            <p> تنطبق الشروط التالية على المستخدمين الذين حصلوا على تطبيقاتهم من متجر تطبيقات Apple.</p>
            <ol role="list">
                <li> يجب على المستخدم الامتثال لشروط الخدمة الخاصة بمتجر تطبيقات Apple، بما في ذلك قواعد الاستخدام.</li>
                <li> هذا الاتفاق يحكم فقط العلاقة بين المستخدم و"Garage" ولا يعكس بأي شكل من الأشكال شروط وأحكام Apple. لا تُلزم Apple بتقديم أي صيانة أو دعم فيما يتعلق بالتطبيق.</li>
                <li> "Garage" هي المسؤولة الوحيدة عن التطبيق وصيانته ومحتوياته (وفقًا لهذه الشروط). إذا تم استدعاء ضمان التطبيق (كما هو مذكور في هذه الشروط) نتيجة لأي فشل أو مشكلة في التطبيق، يمكن للمستخدم إخطار Apple لاسترداد الأموال. علاوة على ذلك، ووفقًا لما يسمح به القانون المعمول به، لا تتحمل Apple أي التزامات ضمان أخرى.</li>
                <li> لا تتحمل Apple أي مسؤولية عن أي مطالبات تتعلق بامتثال التطبيق للسياسات القانونية أو التنظيمية أو انتهاك الحقوق أو الملكية الفكرية.</li>
                <li> بمجرد قبول المستخدم لهذه الشروط، يكون لـ Apple والشركات التابعة لها الحق في إنفاذ هذه الشروط ضد المستخدم.</li>
            </ol>
            <h5 class="title h3-size card-service">الرسوم</h5>
            <p> يتم تحديد الرسوم مقابل استخدام الخدمات ("الرسوم") على موقع "Garage"، وقد تكون عرضة للتغيير بناءً على تقدير "Garage". سيتم إخطار المستخدم بأي تغييرات في الرسوم قبل 30 يومًا على الأقل. يتم خصم الرسوم مقدمًا لكل فترة اشتراك، سواء كانت شهرية أو سنوية، حسب الخطة المختارة. الرسوم غير قابلة للاسترداد إلا إذا تم الاتفاق على خلاف ذلك مسبقًا أو إذا كان ذلك مطلوبًا بموجب القانون.</p>
            <p> بتقديم وسيلة دفع صالحة مثل بطاقة ائتمان، يقر المستخدم بأنه مخول لاستخدام تلك الوسيلة ويفوض "Garage" أو أي طرف ثالث مرتبط بخصم المبالغ المستحقة على الفور دون الحاجة إلى موافقة أو إشعار إضافي. يحق للمستخدم تحديث أو تغيير معلومات الدفع من حساب "Garage" الخاص به في أي وقت. إذا كانت وسيلة الدفع المقدمة غير صالحة أو مرفوضة، فقد يتم إنهاء أو تعليق وصول المستخدم إلى الخدمات.</p>
            <h5 class="title h3-size card-service">الضرائب</h5>
            <p> لا تتضمن رسوم "Garage" الضرائب ما لم يُذكر خلاف ذلك، ويتم دفع جميع المبالغ إلى "Garage" دون أي خصم للضرائب أو الفوائد. إذا كانت أي من الخدمات أو المدفوعات المستحقة عنها خاضعة للضرائب وفقًا للقانون المعمول به، يتحمل المستخدم وحده مسؤولية دفع تلك الضرائب وأي عقوبات مرتبطة للسلطة الضريبية المختصة. سيقوم المستخدم بتعويض "Garage" والشركات التابعة لها وحمايتهم من أي مطالبات أو نفقات تتعلق بتلك الضرائب.</p>
            <h5 class="title h3-size card-service">الشروط لتنزيلات متجر Google Play</h5>
            <p> تنطبق الشروط التالية على المستخدمين الذين حصلوا على تطبيقاتهم من متجر Google Play.</p>
            <ol role="list">
                <li> يجب على المستخدم الامتثال لشروط الخدمة الخاصة بمتجر Google Play، بما في ذلك قواعد الاستخدام.</li>
                <li> هذا الاتفاق يحكم فقط العلاقة بين المستخدم و"Garage" ولا يعكس بأي شكل من الأشكال شروط وأحكام Apple. لا تُلزم Apple بتقديم أي صيانة أو دعم فيما يتعلق بالتطبيق.</li>
                <li> "Garage" هي المسؤولة الوحيدة عن التطبيق وصيانته ومحتوياته (وفقًا لهذه الشروط). إذا تم استدعاء ضمان التطبيق (كما هو مذكور في هذه الشروط) نتيجة لأي فشل أو مشكلة في التطبيق، يمكن للمستخدم إخطار Apple لاسترداد الأموال. علاوة على ذلك، ووفقًا لما يسمح به القانون المعمول به، لا تتحمل Apple أي التزامات ضمان أخرى.</li>
                <li> لا تتحمل Google أي مسؤولية عن أي مطالبات تتعلق بامتثال التطبيق للسياسات القانونية أو التنظيمية أو انتهاك الحقوق أو الملكية الفكرية.</li>
                <li> بمجرد قبول المستخدم لهذه الشروط، يكون لـ Google والشركات التابعة لها الحق في إنفاذ هذه الشروط ضد المستخدم.</li>
            </ol>
            <h5 class="title h3-size card-service">الرسوم</h5>
            <p> يتم تحديد الرسوم مقابل استخدام الخدمات ("الرسوم") على موقع "Garage"، وقد تكون عرضة للتغيير بناءً على تقدير "Garage". سيتم إخطار المستخدم بأي تغييرات في الرسوم قبل 30 يومًا على الأقل. يتم خصم الرسوم مقدمًا لكل فترة اشتراك، سواء كانت شهرية أو سنوية، حسب الخطة المختارة. الرسوم غير قابلة للاسترداد إلا إذا تم الاتفاق على خلاف ذلك مسبقًا أو إذا كان ذلك مطلوبًا بموجب القانون.</p>
            <p> بتقديم وسيلة دفع صالحة مثل بطاقة ائتمان، يقر المستخدم بأنه مخول لاستخدام تلك الوسيلة ويفوض "Garage" أو أي طرف ثالث مرتبط بخصم المبالغ المستحقة على الفور دون الحاجة إلى موافقة أو إشعار إضافي. يحق للمستخدم تحديث أو تغيير معلومات الدفع من حساب "Garage" الخاص به في أي وقت. إذا كانت وسيلة الدفع المقدمة غير صالحة أو مرفوضة، فقد يتم إنهاء أو تعليق وصول المستخدم إلى الخدمات.</p>
            <h5 class="title h3-size card-service">الضرائب</h5>
            <p> لا تتضمن رسوم "Garage" الضرائب ما لم يُذكر خلاف ذلك، ويتم دفع جميع المبالغ إلى "Garage" دون أي خصم للضرائب أو الفوائد. إذا كانت أي من الخدمات أو المدفوعات المستحقة عنها خاضعة للضرائب وفقًا للقانون المعمول به، يتحمل المستخدم وحده مسؤولية دفع تلك الضرائب وأي عقوبات مرتبطة للسلطة الضريبية المختصة. سيقوم المستخدم بتعويض "Garage" والشركات التابعة لها وحمايتهم من أي مطالبات أو نفقات تتعلق بتلك الضرائب.</p>
        </div>
    </div>
</div>